<md-dialog aria-label="Select the language">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color: #15629e; text-align: center;">
                <h2 ng-bind="('ChangePasswd.Label1'|translate)"></h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon
                        md-svg-src="/template/img/ic_cancel_black_24px.svg"
                        aria-label="Close dialog"
                    ></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <form name="changePasswdForm">
                <div class="md-dialog-content">
                    <h2 ng-bind="('ChangePasswd.Label2'|translate)"></h2>
                    <br /><br />
                    <md-input-container class="md-block" flex-gt-xs required>
                        <label>{{"ChangePasswd.LabelEmail"|translate}}</label>
                        <input
                            type="text"
                            ng-model="userType.userName"
                            ng-required="true"
                            aria-label="{{'ChangePasswd.LabelEmail'|translate}}"
                        />
                    </md-input-container>
                </div>
            </form>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="answer('OK')" md-autofocus>
                {{"NextLabel"|translate}}
            </md-button>
            <md-button ng-click="cancel('OK')">
                {{"CancelLabel"|translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
