<!DOCTYPE html>
<html lang="en" ng-app="procedureContentModule">
    <head>
        <title ng-bind="ngMeta.title">Dental Procedure Information</title>
    </head>

    <body ng-controller="procedureContentMainController">
        <section class="procedure-content-header" style="background: none !important;">
            <div class="container">
                <div ng-if="!noProcedure" class="row">
                    <div class="inn-pag-ban">
                        <h1 style="color: black !important;">{{ procedure.procedure_Name }}</h1>

                        <md-select
                            placeholder="{{ 'List.SearchBar.SearchProcedureInfo' | translate }}"
                            ng-model="procedure"
                            id="select-search"
                            md-on-open="getProceduresMatches()"
                            ng-change="selectedProcedure(procedure)"
                            style="margin: 10px !important;"
                        >
                            <md-optgroup
                                label="{{ 'Index.Home.SearchProcedure' | translate }}"
                                style="max-width: 710px; min-width: 550px; max-height: 250px; "
                            >
                                <md-option
                                    ng-repeat="item in resultListProcedure.procedures"
                                    ng-value="item.value"
                                    style="padding: 10px 0px 10px 5px;"
                                    ng-click="processInfoSearch(item)"
                                >
                                    <md-list-item class="md-1-line">
                                        <p ng-bind="item.label"></p>
                                    </md-list-item>
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </div>
                </div>
                <div ng-if="noProcedure" class="row">
                    <div class="inn-pag-ban">
                        <h1 style="color: black !important;">
                            {{ 'ProcedureContent.DropdownText' | translate }}
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-about com-padd" style="background: none !important;">
            <div class="container">
                <div ng-if="noProcedure" class="row blog-single con-com-mar-bot-o">
                    <div class="" style="height: 85px;">
                        <md-select
                            placeholder="{{ 'List.SearchBar.SearchProcedureInfo' | translate }}"
                            ng-model="procedure"
                            id="select-search"
                            md-on-open="getProceduresMatches()"
                            ng-change="selectedProcedure(procedure)"
                            style="margin: 30px !important;"
                        >
                            <md-optgroup
                                label="{{ 'Index.Home.SearchProcedure' | translate }}"
                                style="max-width: 710px; min-width: 550px; max-height: 250px; "
                            >
                                <md-option
                                    ng-repeat="item in resultListProcedure.procedures"
                                    ng-value="item.value"
                                    style="padding: 10px 0px 10px 5px;"
                                    ng-click="processInfoSearch(item)"
                                >
                                    <md-list-item class="md-1-line">
                                        <p ng-bind="item.label"></p>
                                    </md-list-item>
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </div>
                </div>
                <div ng-if="noProcedure" class="row blog-single con-com-mar-bot-o">
                    <div class="list-pg-inn-sp">
                        <div class="row pg-list-ser">
                            <ul>
                                <div
                                    ng-repeat="service in resultListProcedure.procedures track by $index"
                                    class="col-md-5"
                                >
                                    <li>
                                        <a ng-href="procedure-description/{{ service.value }}">
                                            <h4>
                                                {{ service.label }}
                                            </h4>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-if="!noProcedure" class="row blog-single con-com-mar-bot-o">
                    <!-- <div class="col-md-2">
                        <div class="blog-img"> <img ng-src="procedurePictures/{{procedure.procedure_Picture}}" alt="" /> </div>
                    </div> -->
                    <div class="col-md-7">
                        <div class="page-blog">
                            <span
                                >{{ 'ProcedureContent.Specialty' | translate }}:
                                {{ procedure.category_Name }}
                            </span>
                            <!-- <h3>{{"ListDetailProvider.WhatIsIt"|translate}}</h3> -->
                            <p style="font-size: large; text-align: justify;">
                                {{ procedure.procedure_Description }}
                            </p>
                            <p style="font-size: large; text-align: justify;">
                                {{ procedure.procedure_DescriptionFull }}
                            </p>
                            <br />
                            <p style="font-size: large; text-align: justify;">
                                The average price in the United States is
                                <b>${{ procedure.procedure_Price }} USD</b>
                            </p>
                            <br />

                            <div
                                class="pglist-p-com-ti"
                                style="width: 100%; justify-content: center;
                            display: flex;"
                            >
                                <a
                                    class="waves-effect waves-light full-btn"
                                    ng-href="/list_procedures/procedure/{{
                                        procedure.procedure_ID
                                    }}/location/all/category/0/country/all"
                                >
                                    {{ 'ProcedureContent.SearchDentists' | translate }}</a
                                >
                            </div>
                        </div>
                    </div>

                    <!--RELATED STARTS-->
                    <div class="col-md-5 related">
                        <div>
                            <h2>Related</h2>
                            <!--LISTINGS-->
                            <div ng-repeat="procedure in related" class="home-list-pop list-spac">
                                <!--LISTINGS IMAGE-->
                                <!-- <div class="col-md-3"> <img ng-src="procedurePictures/{{procedure.procedure_Picture}}" alt="" /> </div> -->
                                <!--LISTINGS: CONTENT-->
                                <div class="col-md-9 home-list-pop-desc inn-list-pop-desc">
                                    <a ng-href="/procedure-description/{{ procedure.procedure_ID }}"
                                        ><h5>{{ procedure.procedure_Name | shortName }}</h5></a
                                    >
                                    <md-tooltip>{{ procedure.procedure_Name }}</md-tooltip>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--RELATED END-->
                </div>
            </div>
        </section>
    </body>
</html>
<style scoped>
    .procedure-content-header {
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 100%;
        margin-top: 60px;
    }
</style>
