<div>
    <!--FOOTER SECTION-->
    <footer
        id="colophon"
        class="site-footer clearfix"
        style="z-index: 20 !important; position: relative;"
    >
        <div id="quaternary" class="" role="complementary">
            <div class="sidebar-inner ">
                <div class="widget-area clearfix">
                    <div id="azh_widget-2" class="widget widget_azh_widget">
                        <div data-section="section">
                            <div class="container ">
                                <div class="row">
                                    <div
                                        style="height: 100px;"
                                        class="col-sm-4 col-md-3 foot-logo w3-center"
                                    >
                                        <img
                                            style="width: 55%;"
                                            src="template/images/MedQuestLogo.svg"
                                            alt="logo"
                                            class="w3-hide-small"
                                        />
                                    </div>

                                    <div class="col-sm-3 col-md-2">
                                        <h4
                                            style="font-size: xx-large;"
                                            ng-bind="('Index.Home.FooterText2'|translate)"
                                        ></h4>
                                        <ul class="">
                                            <li>
                                                <a
                                                    style="font-size: large;"
                                                    href="/register"
                                                    ng-bind="('Index.Home.FooterText3'|translate)"
                                                ></a>
                                            </li>

                                            <li>
                                                <a
                                                    style="font-size: large;"
                                                    href="/login"
                                                    ng-bind="('Index.Home.FooterText5'|translate)"
                                                ></a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-3 col-md-2">
                                        <h4
                                            style="font-size: xx-large;"
                                            ng-bind="('Index.Home.FooterText8'|translate)"
                                        ></h4>
                                        <ul class="">
                                            <li>
                                                <a
                                                    style="font-size: large;"
                                                    href="/list_procedures/procedure/0/location/all/category/0/country/Mexico"
                                                >
                                                    <span
                                                        class="flag-icon flag-icon-mx"
                                                        style="width: 25px; height: 25px;"
                                                    ></span
                                                    >Mexico</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    style="font-size: large;"
                                                    href="/list_procedures/procedure/0/location/all/category/0/country/United%20States"
                                                >
                                                    <span
                                                        class="flag-icon flag-icon-us"
                                                        style="width: 25px; height: 25px;"
                                                    ></span
                                                    >US</a
                                                >
                                            </li>

                                            <li>
                                                <a
                                                    style="font-size: large;"
                                                    href="/list_procedures/procedure/0/location/all/category/0/country/Spain"
                                                >
                                                    <span
                                                        class="flag-icon flag-icon-es"
                                                        style="width: 25px; height: 25px;"
                                                    ></span
                                                    >Spain</a
                                                >
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-3 col-md-2">
                                        <h4
                                            style="font-size: xx-large;"
                                            ng-bind="('Index.Home.FooterText9'|translate)"
                                        ></h4>
                                        <ul class="foot-social">
                                            <li>
                                                <a
                                                    style="font-size: large;"
                                                    href="/contact_us"
                                                    ng-bind="('Index.Home.FooterText12'|translate)"
                                                ></a>
                                            </li>
                                            <li>
                                                <a
                                                    href="https://www.facebook.com/profile.php?id=100072568112792"
                                                    aria-label="See facebook page"
                                                    ><i
                                                        class="fa fa-facebook"
                                                        aria-hidden="true"
                                                        style="background: #3b5998;  
                                                        font-size: 16px;
                                                        width: 32px;
                                                        height: 32px;
                                                        border: 0px solid #828284;
                                                        border-radius: 50px;
                                                        padding: 7px;
                                                        text-align: center;
                                                        color: #fff;"
                                                    ></i
                                                ></a>

                                                <a
                                                    href="https://www.youtube.com/@joecamero7024"
                                                    aria-label="See youtube page"
                                                    ><i
                                                        class="fa fa-youtube"
                                                        aria-hidden="true"
                                                        style="background: #bb0000;   font-size: 16px;
                                                        width: 32px;
                                                        height: 32px;
                                                        border: 0px solid #828284;
                                                        border-radius: 50px;
                                                        padding: 7px;
                                                        text-align: center;
                                                        color: #fff;"
                                                    ></i
                                                ></a>

                                                <a
                                                    href="https://api.whatsapp.com/send?phone=5492255534403"
                                                    aria-label="Send whatsapp message"
                                                    ><i
                                                        class="fa fa-whatsapp"
                                                        aria-hidden="true"
                                                        style="background: #34af23;   font-size: 16px;
                                                        width: 32px;
                                                        height: 32px;
                                                        border: 0px solid #828284;
                                                        border-radius: 50px;
                                                        padding: 7px;
                                                        text-align: center;
                                                        color: #fff;"
                                                    ></i
                                                ></a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-3 col-md-2">
                                        <h4
                                            style="font-size: xx-large;"
                                            ng-bind="('Index.Home.FooterText10'|translate)"
                                        ></h4>
                                        <ul class="">
                                            <li>
                                                <a
                                                    style="font-size: large;"
                                                    href="/about_us"
                                                    ng-bind="('Index.Home.FooterText10'|translate)"
                                                ></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .widget-area -->
            </div>
            <!-- .sidebar-inner -->
        </div>
        <!-- #quaternary -->
    </footer>
    <!--COPY RIGHTS-->
    <section class="copy" style="z-index: 99999999 !important; position: relative;">
        <div class="container">
            <p style="color: white;">
                copyright © {{currentyear}} mymedquest &nbsp;&nbsp;All rights reserved.
            </p>
        </div>
    </section>
</div>
