<!-- uncomment for font -->
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css" /> -->

<style scoped>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        /* font-family: 'Roboto', sans-serif; */
    }
    .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 43px;
        bottom: 0;
        height: inherit;
    }
</style>

<div class="w3-top" style="position: absolute;" ng-app="mainDropdownModule">
    <!-- Mobile Sidebar -->
    <nav
        class="w3-sidebar w3-bar-block w3-collapse  w3-animate-left "
        style="display:none !important; top:0px ; width: 200px !important;"
        id="mySidebar"
    >
        <button
            ng-click="$ctrl.w3_close()"
            class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large"
            style="display: block;"
            title="Close Menu"
        >
            <i class="fa fa-remove"></i>
        </button>
        <a
            class="w3-bar-item w3-button w3-hover-black"
            style="line-height: 40px; display: block !important;"
            ng-if="!$ctrl.is_logged_in"
            ng-click="$ctrl.w3_close()"
            href="/login"
            >{{'Login.login.Header.TitleLogIn'|translate}}</a
        >
        <a
            class="w3-bar-item w3-button w3-hover-black"
            style="line-height: 40px; display: block !important;"
            ng-if="!$ctrl.is_logged_in"
            ng-click="$ctrl.w3_close()"
            href="/register"
            >{{'Login.login.Header.TitleAccount'|translate}}</a
        >
        <a
            class="w3-bar-item w3-button w3-hover-black"
            style="line-height: 40px; display: block !important;"
            ng-if="$ctrl.is_logged_in"
            target="_self"
            href="/dashboard"
        >
            {{'Login.login.Header.Dashboard'|translate}}</a
        >
        <a
            class="w3-bar-item w3-button w3-hover-black"
            style="line-height: 40px; display: block !important;"
            ng-if="$ctrl.is_logged_in"
            ng-click="$ctrl.logout(); $ctrl.w3_close()"
            href="/login"
            >{{'LogOut.Header'|translate}}</a
        >
        <a
            class="w3-bar-item w3-button w3-hover-black"
            style="line-height: 40px; display: block !important;"
            href="what-is-medical-tourism"
            ng-click="$ctrl.w3_close()"
            >{{'Index.Home.WhatIsMedicalTourism'|translate}}</a
        >
        <a
            class="w3-bar-item w3-button w3-hover-black"
            style="line-height: 40px;  display: block !important;"
            href="/list_procedures/procedure/0/location/all/category/0/country/all"
            ng-click="$ctrl.w3_close()"
            >{{'Index.Home.MenuText4'|translate}}</a
        >

        <a
            class="w3-bar-item w3-button w3-hover-black"
            style="line-height: 40px; display: block !important;"
            ng-if="!$ctrl.is_logged_in"
            href="/procedure-description"
            ng-click="$ctrl.w3_close()"
            >{{'Index.Home.MenuText9'|translate}}</a
        >

        <a
            class="w3-bar-item w3-button w3-hover-black"
            style="line-height: 40px; display:block"
            href="/pricing"
            ng-click="$ctrl.w3_close()"
            >{{'Index.Home.OurPrices'|translate}}</a
        >

        <a
            class="w3-bar-item w3-button w3-hover-black"
            style="line-height: 40px  !important; display: block;"
            href="/contact_us"
            ng-click="$ctrl.w3_close()"
            >{{'Index.Home.MenuText6'|translate}}</a
        >
        <a
            class="w3-bar-item w3-button w3-hover-black"
            style=" line-height: 40px ;display: block;"
            href="/about-us"
            ng-click="$ctrl.w3_close()"
            >{{'Index.Home.MenuText7'|translate}}</a
        >
    </nav>

    <!-- Menu  -->
    <div
        class="w3-bar w3-top w3-left-align w3-large"
        style="background-color: transparent!important; position: absolute !important; "
    >
        <button
            class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large"
            ng-click="$ctrl.w3_open()"
        >
            <i class="fa fa-bars fa-2x"></i>
        </button>
        <a href="/index" class="w3-bar-item w3-button">
            <img
                src="template/images/MedQuestLogo.svg"
                alt="mymedquest logo"
                style="width: 40px; padding-right: 0px;"
        /></a>
        <div style="margin-top: 8px !important;">
            <a
                href="/list_procedures/procedure/0/location/all/category/0/country/all"
                class="w3-bar-item w3-button w3-hide-small w3-hover-white"
                >{{'Index.Home.MenuText4'|translate}}</a
            >

            <a
                href="/procedure-description"
                class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white"
                >{{'Index.Home.MenuText9'|translate}}</a
            >

            <a
                href="/pricing"
                class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white"
                >{{'Index.Home.OurPrices'|translate}}</a
            >

            <a href="/contact_us" class="w3-bar-item w3-button w3-hide-small w3-hover-white"
                >{{'Index.Home.MenuText6'|translate}}</a
            >
            <a
                href="what-is-medical-tourism"
                class="w3-bar-item w3-button w3-hide-small w3-hover-white "
                >{{'Index.Home.WhatIsMedicalTourism'|translate}}</a
            >
            <a
                href="/about-us"
                class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white"
                >{{'Index.Home.MenuText7'|translate}}</a
            >
        </div>

        <div class="button-border" style="float:right; margin-right: 5%;">
            <!-- Dashboard -->
            <a
                ng-if="$ctrl.is_logged_in"
                href="/dashboard"
                target="_self"
                class="w3-bar-item w3-button w3-hide-small w3-hover-white"
                ><i class="fa fa-table"></i> {{'Login.login.Header.Dashboard'|translate}}

                <i
                    ng-if="$ctrl.has_notifications"
                    class="fa fa-exclamation info-icon"
                    style="color: rgb(178, 25, 25);"
                    aria-hidden="true"
                >
                    <md-tooltip
                        >{{ 'Index.Home.MenuClientHasNotificationsTooltip' | translate
                        }}</md-tooltip
                    ></i
                >
            </a>

            <!-- Logout -->
            <a
                class="w3-bar-item w3-button w3-hide-small w3-hover-white"
                ng-if="$ctrl.is_logged_in"
                ng-click="$ctrl.logout()"
                href="/login"
                ><i class="fa fa-sign-out" aria-hidden="true"></i> {{'LogOut.Header'|translate}}</a
            >

            <!-- Login -->
            <a
                ng-if="!$ctrl.is_logged_in"
                href="/login"
                class="w3-bar-item w3-button w3-hide-small w3-hover-white"
                ><i class="fa fa-sign-in" aria-hidden="true"></i>
                {{'Login.login.Header.TitleLogIn'|translate}}</a
            >

            <!-- Signup -->
            <a
                ng-if="!$ctrl.is_logged_in"
                href="/register"
                class="w3-bar-item w3-button w3-hide-small w3-hover-white"
                ><i class="fa fa-plus" aria-hidden="true"></i>
                {{'Login.login.Header.TitleAccount'|translate}}</a
            >

            <!-- Language  -->
            <!--    class="w3-bar-item w3-button w3-hide-small w3-hover-white " -->
            <div class="dropdown">
                <button flex="" class="dropbtn w3-button">
                    <i class="fa fa-regular fa-globe"></i> {{'Index.Home.Language'|translate}}
                    <i class="fa fa-sort-down"></i>
                </button>
                <div class="dropdown-content w3-center" style="margin-left: 100px !important;">
                    <button
                        ng-click="$ctrl.changeLanguage('sp');$ctrl.parseUrl()"
                        class="flag-icon flag-icon-mx"
                        style="width: 40px; height: 30px; border:none !important; margin-top: 5px !important; cursor: pointer;"
                    ></button>
                    <br />
                    <md-divider
                        style="background-color:white !important; margin-top: 5px; margin-bottom: 5px; "
                    ></md-divider>

                    <button
                        ng-click="$ctrl.changeLanguage('en');$ctrl.parseUrl()"
                        class="flag-icon flag-icon-us"
                        style="width: 40px; height: 30px; border:none !important; margin-bottom: 5px !important; cursor: pointer;"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>

<style scoped>
    .button-border a {
        box-sizing: border-box;
        border: 1px solid !important;
        margin: 0px 10px 0px 0px !important;
    }

    .dropbtn {
        background-color: transparent;
        font-size: 16px;
        margin-left: 100px !important;
        box-sizing: border-box;
        border: 1px solid !important;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: fixed;
        /* background-color: #2c6199; */
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 110px;
    }

    .dropdown-content button {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        width: 150px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    @media (max-width: 400px) {
        .dropbtn {
            margin-left: 0px !important;
        }
    }
</style>
