<!DOCTYPE html>

<html ng-app="loginModule" style="color: #213548">
    <head>
        <title>Login</title>
    </head>

    <body ng-controller="loginMainController">
        <section class="tz-login">
            <div class="tz-regi-form">
                <h4 style="" ng-bind="('Login.login.Title'|translate)"></h4>
                <p style="color: #213548"></p>
                {{ 'Login.login.TitleText2' | translate
                }}<a
                    href="/register"
                    ng-bind="('Login.login.Register'|translate)"
                    style="color:#213548; font-size:16px; font-weight: 600; border-radius: 25px; padding: 2px 00px 2px 5px;"
                ></a>

                <form class="col s12">
                    <div class="row">
                        <div class="input-field col-md-12">
                            <md-input-container class="md-icon-float md-block">
                                <input
                                    type="text"
                                    id="username_"
                                    class="input-font-size"
                                    ng-model="user.username"
                                    style="color: #213548; background-color: #F6F8FD; height: 45px !important; border-radius: 5px;"
                                    required="required"
                                />
                                <label
                                    class="input-font-size"
                                    style=" color: #00000063; bottom: 84%; font-weight: 300; font-size: 24px;"
                                    >{{ 'Login.login.TitleUsername' | translate }}</label
                                >
                            </md-input-container>
                            <section>
                                <a
                                    href=""
                                    ng-click="requestPasswordC($event)"
                                    style=" padding: 0px 0px 0px 0px; float: right; position: relative; z-index: 10; color:#6C7881 ;"
                                    >{{ 'Login.login.TitleForgotPass' | translate }}</a
                                >
                            </section>
                            <br />

                            <md-input-container class="md-block">
                                <input
                                    type="password"
                                    ng-model="user.password"
                                    style="color: #213548; background-color: #F6F8FD; height: 45px !important; border-radius: 5px;"
                                    required="required"
                                    class="input-font-size"
                                />

                                <label
                                    class="input-font-size"
                                    style=" color: #00000063; bottom: 84%; font-weight: 300; font-size: 24px;"
                                    >{{ 'Login.login.TitlePassword' | translate }}</label
                                >
                            </md-input-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <md-button
                                style="border-radius: 5px; background-color: #213548; color:#FFFFFF; float: right;"
                                type="submit"
                                class=""
                                ng-click="processLoginForm()"
                                ng-bind="('Login.login.TitleLogIn'|translate)"
                            >
                                <md-tooltip
                                    md-direction="Bottom"
                                    ng-bind="('Login.login.TitleSubmitoNmOUSEo'|translate)"
                                ></md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <script>
            document.getElementById('username_').focus()
        </script>
    </body>
</html>
<style scoped>
    body {
        background-color: rgb(227, 234, 246) !important ;
    }
    .input-font-size {
        font-size: x-large !important;
        color: #fff;
    }
    @media (max-width: 400px) {
        .input-font-size {
            font-size: small !important;
        }
    }
</style>
