<footer id="colophon" class="site-footer clearfix">
            <div id="quaternary" class="sidebar-container " role="complementary">
                <div class="sidebar-inner">
                    <div class="widget-area clearfix">
                        <div id="azh_widget-2" class="widget widget_azh_widget">
                            <div data-section="section">
                                <div class="container">
                                    <div class="row">
                                        <div
                                            style="height: 150;"
                                            class="col-sm-4 col-md-3 foot-logo"
                                        >
                                            <img
                                                style="width: 85%;"
                                                src="template/images/MedQuestLogo.svg"
                                                alt="logo"
                                            />
                                            <!-- <p
                                                class="hasimg"
                                                style="color: #ffffff; font-size: large;"
                                                ng-bind="('Index.Home.FooterText1'|translate)"
                                            ></p> -->
                                        </div>

                                        <div class="col-sm-4 col-md-3">
                                            <h4
                                                style="font-size: xx-large;"
                                                ng-bind="('Index.Home.FooterText2'|translate)"
                                            ></h4>
                                            <ul class="two-columns">
                                                <li>
                                                    <a
                                                        style="font-size: large;"
                                                        href="/register"
                                                        ng-bind="('Index.Home.FooterText3'|translate)"
                                                    ></a>
                                                </li>

                                                <li>
                                                    <a
                                                        style="font-size: large;"
                                                        href="/login"
                                                        ng-bind="('Index.Home.FooterText5'|translate)"
                                                    ></a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-sm-4 col-md-3">
                                            <h4
                                                style="font-size: xx-large;"
                                                ng-bind="('Index.Home.FooterText8'|translate)"
                                            ></h4>
                                            <ul class="two-columns">
                                                <li>
                                                    <a style="font-size: large;" href="#!"
                                                        >Mexico</a
                                                    >
                                                </li>
                                                <li>
                                                    <a style="font-size: large;" href="#!"
                                                        >United States</a
                                                    >
                                                </li>
                                                <li>
                                                    <a style="font-size: large;" href="#!"
                                                        >Canada</a
                                                    >
                                                </li>
                                                <li>
                                                    <a style="font-size: large;" href="#!">Spain</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-sm-4 col-md-3">
                                            <h4
                                                style="font-size: xx-large;"
                                                ng-bind="('Index.Home.FooterText9'|translate)"
                                            ></h4>
                                            <ul class="two-columns">
                                                <li>
                                                    <a
                                                        style="font-size: large;"
                                                        href="/contact_us"
                                                        ng-bind="('Index.Home.FooterText12'|translate)"
                                                    ></a>
                                                </li>
                                                <li>
                                                    <a
                                                        style="font-size: large;"
                                                        href="/about_us"
                                                        ng-bind="('Index.Home.FooterText10'|translate)"
                                                    ></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-section="section" class="foot-sec2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-3"></div>

                                        <div ng-show="false" class="col-sm-5 foot-social">
                                            <ul>
                                                <!-- <li>
                                                    <a href="#!"
                                                        ><i
                                                            class="fa fa-facebook"
                                                            aria-hidden="true"
                                                        ></i
                                                    ></a>
                                                </li>
                                                <li>
                                                    <a href="#!"
                                                        ><i
                                                            class="fa fa-google-plus"
                                                            aria-hidden="true"
                                                        ></i
                                                    ></a>
                                                </li>
                                                <li>
                                                    <a href="#!"
                                                        ><i
                                                            class="fa fa-twitter"
                                                            aria-hidden="true"
                                                        ></i
                                                    ></a>
                                                </li>
                                                <li>
                                                    <a href="#!"
                                                        ><i
                                                            class="fa fa-linkedin"
                                                            aria-hidden="true"
                                                        ></i
                                                    ></a>
                                                </li>
                                                <li>
                                                    <a href="#!"
                                                        ><i
                                                            class="fa fa-youtube"
                                                            aria-hidden="true"
                                                        ></i
                                                    ></a>
                                                </li> -->
                                                <li>
                                                    <a href="#!"
                                                        ><i
                                                            class="fa fa-whatsapp"
                                                            aria-hidden="true"
                                                        ></i
                                                    ></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .widget-area -->
                </div>
                <!-- .sidebar-inner -->
            </div>
            <!-- #quaternary -->
</footer>

<section class="copy">
    <div class="container">
        <p>copyright © {{currentyear}} mymedquest &nbsp;&nbsp;All rights reserved.</p>
    </div>
</section>

