<md-dialog aria-label="Terms And Conditions">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'Staff_.Staff.agreeTerms' | translate }}</h2>

            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.cancel('DISAGREE')">
                <md-icon
                    md-svg-src="/template/img/baseline-close-24px.svg"
                    aria-label="Close dialog"
                ></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" id="pageEdit">
            <div style="width: 550px;">
                <h3>Terms and Conditions of Service</h3>
                <p>
                    Welcome to the web platform of MyMedQuest.com, headquartered in Seabrook, Texas
                    U.S.A at 4339 Stacy Street (&quot;MyMedQuest&quot;). By using MyMedQuest&#39;s
                    Services, you as the user (&quot;User&quot;) agree to these Terms and Conditions
                    (&quot;Terms&quot;). Please read them carefully. Additional terms can be
                    available with the relevant Services and those additional terms become part of
                    your agreement with MyMedQuest if you use those Services.
                    <br />
                    <br />
                    MyMedQuest is a free-of-charge service marketing platform which purpose is the
                    provision of a web marketplace for the general public ("Patients") to find
                    suitable medical procedures, locations and related pricing from medical service
                    providers including but not limited to hospitals, clinics and offices
                    (&quot;Providers&quot;).
                    <br />
                    <br />
                    MyMedQuest does not assign the User or other patients to a specific Provider,
                    but will only give a list of Providers with their general information (including
                    the name, address, specialization, procedure price lists, etc.) based on the
                    User&#39;s search queries related to medical procedures and services. Thus, from
                    the list provided in the form of a web search result, the User can choose with
                    whom to request directly from the provider of his/her choice a remote or
                    in-person second opinion evaluation appointment.
                    <br />
                    <br />
                    MyMedQuest discloses details and information on Providers based on data, either
                    given by the Providers or collected from other patients in the form of reviews,
                    also certification bodies and other entities. MyMedQuest does not verify the
                    information given by the Providers and it cannot guarantee that said information
                    is correct and up to date; therefore, MyMedQuest cannot be held liable for any
                    errors, inaccurate, misleading, or false information given or not given by the
                    Providers. The website doesn&#39;t represent and will not be considered a
                    recommendation or endorsement of the standard, service level or qualification of
                    any provider. MyMedQuest does not guarantee quality of services.
                    <br />
                    <br />
                    MyMedQuest offers various forms of communication between User and Provider,
                    making exchange of medical information between the two quick and easy. Should
                    the User and Provider conclude a contract, MyMedQuest is neither responsible nor
                    involved in any part of that contract and in any way influences the conclusion
                    or content of the contract.
                    <br />
                    <br />
                    MyMedQuest does not take responsibility to aid a User and Provider (or another
                    third party) and vice versa. MyMedQuest does not offer any medical services
                    itself. All data provided on MyMedQuest?s website cannot replace a medical
                    consultation, evaluation or a medical examination and shall not be used to
                    independently decide whether to commence or terminate a medical treatment. Once
                    an order for a remote or in-person medical evaluation is placed, the user
                    submits a binding offer to MyMedQuest for the conclusion of contract regarding
                    the requested Service. The User will receive a confirmation email relating to
                    the receipt of the electronic order, however, that does not represent the
                    binding acceptance of the order until the Provider has confirmed the appointment
                    through the platform.
                    <br />
                    <br />
                    The User may request to have their submitted personal data, either entirely or specific,
                    removed from MyMedQuest?s database at anytime by sending an email to <b>admin@mymedquest.com</b>
                    In compliance with the Privacy Policies, MyMedQuest will delete or block the User?s personal
                    and specific personal data as soon as the User requests to do so. MyMedQuest will, however,
                    keep the User?s first name, last name, and email address to be able to trace back the User?s
                    history in the case of any legal disputes related to Providers contacted by the User via
                    MyMedQuest?s platform. MyMedQuest will not use this data for any other reasons other than for
                    the request from the User.<br /><br />
                    <mark>
                        MyMedQuest will require the User to provide a Credit Card Deposit ("Advanced Payment") in
                    order to secure a booking with a Provider. MyMedQuest will process the transaction and will
                    keep the funds for the Provider in a non-interest-bearing trust account.
                    </mark>
                    <br />
                    <br />
                    The User can request a cancelation of the appointment at any time up to 2 hours prior to the
                    appointment for a full refund.
                    <br /><br />
                    <mark>
                    If the User fails to cancel the appointment and none of the cancellation for good cause policies
                    applies, MyMedQuest will charge a cancellation fee from the Payment made by the User.
                    </mark>
                    <br />
                    <br />
                    MyMedQuest allows the User to provide information to review Providers and the services
                    ("Rating Systems") of Providers. The User can also provide recommendations to MyMedQuest
                    and other users or Providers. Rating Systems reflect personal perceptions and experiences of
                    the Users. If at any moment a User exploits the use of the Rating Systems, MyMedQuest may
                    shut down the Review feature or interrupt the service for the User.
                    The User may only rate the services of Providers or other third parties that they have personally
                    used. The User is prohibited from making any ratings that are not true, derogatory, obscene or
                    use profanity.
                    <br /><br />
                    May the User fail to provide true and up-to-date information; MyMedQuest is entitled to delete
                    the respective ratings and to block the User?s account temporarily or permanently.
                    The User agrees to long-term storage and publishing of their ratings made on MyMedQuest?s
                    platform; even if the User terminates their registration with MyMedQuest.
                    MyMedQuest?s services are available to individuals who are 18 years of age or older. The User
                    may use MyMedQuest?s services on behalf of a third person who is under the age of 18. The
                    Other than as expressed in these Terms or additional terms, MyMedQuest does not make any
                    promises on the quality of the Services advertised on its website. MyMedQuest is and
                    advertising platform, not an intermediary or service broker of any Provider.
                    MyMedQuest accepts no liability for the correctness, completion, and up-to-date information
                    provided by Providers or any other third parties on MyMedQuest?s website.
                    <br /><br />
                    The User may only use this platform and the information on this website for their non-
                    commercial, personal purposes.
                    All the content on MyMedQuest?s platform is protected by copyright and intellectual property
                    rights and partially originated from third parties. All intellectual property rights on the website
                    (including text, graphics, software, photographs and other images, videos, trademarks and
                    logos) are owned either by MyMedQuest, the Providers, or other third parties. When using the
                    Services, the User is not granted with any licenses of MyMedQuest?s intellectual property rights
                    with respect to Services rendered and information provided by MyMedQuest. Any utilization not
                    permitted by the copyright law requires advance written approval from MyMedQuest.
                    Downloads and copies of content from MyMedQuest?s website are only allowed for private and
                    non-commercial use.<br /><br />
                    MyMedQuest is entitled to use the information provided by Users in forums for MyMedQuest?s
                    business, given that the use of it complies with the applicable data protection regulations.
                    Only MyMedQuest?s Terms apply when the User is using MyMedQuest?s website and its
                    Services. Therefore, the User?s general terms and conditions or similar regulations are rejected.
                    These Terms will continue to apply until they have been changed or terminated by
                    MyMedQuest. If the User or Provider does not comply with these Terms, they have to
                    immediately quit using MyMedQuest?s platform and Services and the User or Provider is
                    obligated to terminate their account.<br /><br />
                    MyMedQuest can modify these Terms at any time; MyMedQuest will make a notification of the
                    modifications on this platform. These changes will apply immediately. If the User or Provider
                    does not comply with these Terms, they have to immediately quit using MyMedQuest?s platform
                    and Services and the User or Provider is obligated to terminate their user account.
                </p>
                <p>
                    <h3>Information Collection, Use, and Sharing.</h3>
                    <p>
                        We are the sole owners of the information collected on this site. We only have
                        access to/collect information that you voluntarily give us via our web forms,
                        email or other direct contact from you.<br />
                        We will not sell or rent this information to anyone but it will be made public
                        in the form of advertising, marketing and search results in our platform. We
                        will use your information to advertise and promote online you and your staff as
                        professionals, the products and services you and your organization provide,
                        along with pricing, location and contact information.<br />
                        We will not share or sell your information with any third party outside our
                        online platform. You will have full control of what is advertised and shown to
                        the general public, you are also sole and fully responsible for the information,
                        products, services and pricing shown and advertised in our platform.
                    </p>
                    <h3>Your Access to and Control Over Information.</h3>
                    <p>
                        You have full control of what we can publically show about you, your staff and
                        offered services and may opt out and close your profile and account at any time.
                    </p>
                    <h3>Security.</h3>
                    <p>
                        We always use industry-standard encryption technologies when transferring and
                        receiving consumer data exchanged with our site, presently TLS 1.2.
                    </p>
                </p>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="$ctrl.answer('AGREE')">
            {{ 'Staff_.Staff.Iagree' | translate }}
        </md-button>
        <md-button ng-click="$ctrl.cancel('DISAGREE')">
            {{ 'Staff_.Staff.notAgree' | translate }}
        </md-button>
    </md-dialog-actions>
</md-dialog>
