<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<md-dialog aria-label="Terms And Conditions">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'Staff_.Staff.agreeTerms' | translate }}</h2>

            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel('DISAGREE')">
                <md-icon
                    md-svg-src="/template/img/baseline-close-24px.svg"
                    aria-label="Close dialog"
                ></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" id="pageEdit">
            <div style="width: 550px;">
                <h3>T&#233;rminos y Condiciones de Servicio</h3>
                <p>
                    Bienvenido a la plataforma web de MyMedQuest.com, con sede en Seabrook, Texas, EE. UU. en 4339 Stacy Street ("MyMedQuest"). 
                    Al utilizar los Servicios de MyMedQuest, usted como usuario ("Usuario") acepta estos T&#233;rminos y condiciones ("T&#233;rminos"). 
                    Por favor, l&#233;alas cuidadosamente. Los t&#233;rminos adicionales pueden estar disponibles con los Servicios relevantes y esos 
                    t&#233;rminos adicionales se vuelven parte de su acuerdo con MyMedQuest si usa esos Servicios.
                    <br />
                    <br />
                    MyMedQuest es una plataforma de marketing de servicios gratuita cuyo objetivo es proporcionar 
                    un mercado web para el p&#250;blico en general ("Pacientes") para encontrar procedimientos m&#233;dicos adecuados, 
                    ubicaciones y precios relacionados de proveedores de servicios m&#233;dicos, incluidos, entre otros, hospitales, 
                    cl&#237;nicas y consultorios ("Proveedores").
                    <br />
                    <br />
                    MyMedQuest no asigna al Usuario u otros pacientes a un Proveedor espec&#237;fico, sino que solo brindar&#225; una lista de 
                    Proveedores con su informaci&#243;n general (incluido el nombre, direcci&#243;n, especializaci&#243;n, listas de precios de procedimientos, etc.) 
                    en funci&#243;n de las consultas de b&#250;squeda del Usuario relacionadas con procedimientos y servicios m&#233;dicos. 
                    As&#237;, del listado facilitado en forma de resultado de b&#250;squeda web, el Usuario puede elegir con qui&#233;n solicitar directamente 
                    al proveedor de su elecci&#243;n una cita de evaluaci&#243;n de segunda opini&#243;n a distancia o presencial.
                    <br />
                    <br />
                    MyMedQuest divulga detalles e informaci&#243;n sobre los proveedores en funci&#243;n de los datos, ya sea
                    proporcionada por los Proveedores o recopilada de otros pacientes en forma de revisiones,
                    tambi&#233;n organismos de certificaci&#243;n y otras entidades. MyMedQuest no verifica la
                    informaci&#243;n dada por los Proveedores y no puede garantizar que dicha informaci&#243;n
                    es correcta y est&#225; actualizada; por lo tanto, MyMedQuest no se hace responsable de ning&#250;n
                    errores, informaci&#243;n inexacta, engañosa o falsa dada o no dada por el
                    Proveedores. El sitio web no representa y no ser&#225; considerado un
                    recomendaci&#243;n o respaldo del est&#225;ndar, nivel de servicio o calificaci&#243;n de
                    cualquier proveedor. MyMedQuest no garantiza la calidad de los servicios.
                    <br />
                    <br />
                    MyMedQuest ofrece varias formas de comunicaci&#243;n entre Usuario y Proveedor,
                    haciendo que el intercambio de informaci&#243;n m&#233;dica entre los dos sea r&#225;pido y f&#225;cil. Deber&#237;an
                    el Usuario y el Proveedor celebran un contrato, MyMedQuest no es responsable ni
                    involucrado en cualquier parte de ese contrato y de alguna manera influye en la conclusi&#243;n
                    o contenido del contrato.
                    <br />
                    <br />
                    MyMedQuest no se responsabiliza de ayudar a un Usuario y Proveedor (u otro
                    tercero) y viceversa. MyMedQuest no ofrece ning&#250;n servicio m&#233;dico
                    s&#237; mismo. Todos los datos proporcionados en el sitio web de MyMedQuest no pueden reemplazar una informaci&#243;n m&#233;dica.
                    consulta, evaluaci&#243;n o examen m&#233;dico y no se utilizar&#225; para
                    decidir independientemente si iniciar o terminar un tratamiento m&#233;dico. Una vez
                    se solicita una evaluaci&#243;n m&#233;dica remota o presencial, el usuario
                    presenta una oferta vinculante a MyMedQuest para la conclusi&#243;n del contrato con respecto a
                    el Servicio solicitado. El Usuario recibir&#225; un correo electr&#243;nico de confirmaci&#243;n relativo a
                    la recepci&#243;n del pedido electr&#243;nico, sin embargo, eso no representa la
                    aceptaci&#243;n vinculante del pedido hasta que el Proveedor haya confirmado la cita
                    a trav&#233;s de la plataforma.
                    <br />
                    <br />
                    El Usuario podr&#225; solicitar que sus datos personales remitidos, ya sean &#237;ntegros o espec&#237;ficos,
                    eliminado de la base de datos de MyMedQuest en cualquier momento enviando un correo electr&#243;nico a <b>admin@mymedquest.com</b>
                    En cumplimiento de las Pol&#237;ticas de Privacidad, MyMedQuest eliminar&#225; o bloquear&#225; los datos personales del Usuario.
                    y datos personales espec&#237;ficos tan pronto como el Usuario lo solicite. MyMedQuest, sin embargo,
                    mantener el nombre, el apellido y la direcci&#243;n de correo electr&#243;nico del Usuario para poder rastrear el Usuario
                    historial en caso de disputas legales relacionadas con los Proveedores contactados por el Usuario a trav&#233;s de
                    La plataforma de MyMedQuest. MyMedQuest no utilizar&#225; estos datos por ning&#250;n otro motivo que no sea para
                    la solicitud del Usuario.<br /><br />
                    <mark>
                        MyMedQuest requerir&#225; que el Usuario proporcione un Dep&#243;sito con Tarjeta de Cr&#233;dito ("Pago Anticipado") en
                    para asegurar una reserva con un Proveedor. MyMedQuest procesar&#225; la transacci&#243;n y
                    mantener los fondos para el Proveedor en una cuenta de fideicomiso que no devenga intereses.
                    </mark>
                    <br />
                    <br />
                    El Usuario puede solicitar la cancelaci&#243;n de la cita en cualquier momento hasta 2 horas antes de la
                    cita para un reembolso completo.
                    <br /><br />
                    <mark>
                    Si el Usuario no cancela la cita y ninguna de las pol&#237;ticas de cancelaci&#243;n por causa justificada
                    aplica, MyMedQuest cobrar&#225; una tarifa de cancelaci&#243;n del Pago realizado por el Usuario.
                    </mark>
                    <br />
                    <br />
                    MyMedQuest permite al Usuario proporcionar informaci&#243;n para revisar los Proveedores y los servicios
                    ("Sistemas de Calificaci&#243;n") de los Proveedores. El Usuario tambi&#233;n puede proporcionar recomendaciones a MyMedQuest
                    y otros usuarios o Proveedores. Los sistemas de calificaci&#243;n reflejan las percepciones y experiencias personales de
                    Los usuarios. Si en alg&#250;n momento un Usuario se aprovecha del uso de los Sistemas de Calificaci&#243;n, MyMedQuest podr&#225;
                    cerrar la funci&#243;n de Revisi&#243;n o interrumpir el servicio para el Usuario.
                    El Usuario s&#243;lo podr&#225; calificar los servicios de Proveedores u otros terceros que haya personalmente
                    usado. El Usuario tiene prohibido realizar valoraciones que no sean verdaderas, despectivas, obscenas o
                    usar blasfemias.
                    <br /><br />
                    Que el Usuario no proporcione informaci&#243;n veraz y actualizada; MyMedQuest tiene derecho a eliminar
                    las calificaciones respectivas y bloquear la cuenta del Usuario de manera temporal o permanente.
                    El usuario acepta el almacenamiento a largo plazo y la publicaci&#243;n de sus calificaciones realizadas en el sitio web de MyMedQuest.
                    plataforma; incluso si el Usuario finaliza su registro en MyMedQuest.
                    Los servicios de MyMedQuest est&#225;n disponibles para personas mayores de 18 años. El usuario
                    puede usar los servicios de MyMedQuest en nombre de una tercera persona menor de 18 años.
                    Aparte de lo expresado en estos T&#233;rminos o t&#233;rminos adicionales, MyMedQuest no hace ning&#250;n
                    promete sobre la calidad de los Servicios anunciados en su sitio web. MyMedQuest es y
                    plataforma de publicidad, no un intermediario o corredor de servicios de ning&#250;n Proveedor.
                    MyMedQuest no acepta ninguna responsabilidad por la exactitud, finalizaci&#243;n y actualizaci&#243;n de la informaci&#243;n
                    proporcionada por los Proveedores o cualquier otro tercero en el sitio web de MyMedQuest.
                    <br /><br />
                    El Usuario s&#243;lo podr&#225; utilizar esta plataforma y la informaci&#243;n de este sitio web para su
                    fines comerciales, personales.
                    Todo el contenido de la plataforma de MyMedQuest est&#225; protegido por derechos de autor y propiedad intelectual.
                    derechos y parcialmente originados por terceros. Todos los derechos de propiedad intelectual en el sitio web
                    (incluyendo texto, gr&#225;ficos, software, fotograf&#237;as y otras im&#225;genes, videos, marcas registradas y
                    logotipos) son propiedad de MyMedQuest, los Proveedores u otros terceros. Al usar el
                    Servicios, al Usuario no se le otorga ninguna licencia de los derechos de propiedad intelectual de MyMedQuest
                    con respecto a los Servicios prestados y la informaci&#243;n proporcionada por MyMedQuest. Cualquier utilizaci&#243;n no
                    permitido por la ley de derechos de autor requiere la aprobaci&#243;n previa por escrito de MyMedQuest.
                    Las descargas y copias de contenido del sitio web de MyMedQuest solo est&#225;n permitidas para fines privados y
                    uso no comercial.
                    <br /><br />
                    MyMedQuest tiene derecho a utilizar la informaci&#243;n proporcionada por los Usuarios en los foros para MyMedQuest.
                    negocio, dado que el uso del mismo cumple con la normativa aplicable en protecci&#243;n de datos.
                    Solo se aplican los T&#233;rminos de MyMedQuest cuando el Usuario utiliza el sitio web de MyMedQuest y su
                    Servicios. Por tanto, se rechazan las condiciones generales de uso del Usuario o normas an&#225;logas.
                    Estos T&#233;rminos continuar&#225;n aplic&#225;ndose hasta que hayan sido modificados o rescindidos por
                    MiMedQuest. Si el Usuario o Proveedor no cumple con estos T&#233;rminos, tiene que
                    inmediatamente deje de usar la plataforma y los Servicios de MyMedQuest y el Usuario o Proveedor es
                    obligado a cancelar su cuenta.
                    <br /><br />
                    MyMedQuest puede modificar estos T&#233;rminos en cualquier momento; MyMedQuest har&#225; una notificaci&#243;n de la
                    modificaciones en esta plataforma. Estos cambios se aplicar&#225;n inmediatamente. Si el Usuario o Proveedor
                    no cumple con estos T&#233;rminos, debe dejar de usar la plataforma de MyMedQuest de inmediato
                    y Servicios y el Usuario o Proveedor est&#225; obligado a cancelar su cuenta de usuario.
                </p>
                <p>
                    <h3>Recopilaci&#243;n, uso y uso compartido de la informaci&#243;n.</h3>
                    <p>
                        Somos los &#250;nicos propietarios de la informaci&#243;n recopilada en este sitio. S&#243;lo tenemos
                        acceder a/recopilar informaci&#243;n que usted nos proporciona voluntariamente a trav&#233;s de nuestros formularios web,
                        correo electr&#243;nico u otro contacto directo de usted.
                        <br />
                        No venderemos ni alquilaremos esta informaci&#243;n a nadie, pero se har&#225; p&#250;blica.
                        en forma de publicidad, marketing y resultados de b&#250;squeda en nuestra plataforma. Nosotros
                        utilizar&#225; su informaci&#243;n para publicitar y promocionar en l&#237;nea a usted y a su personal como
                        profesionales, los productos y servicios que usted y su organizaci&#243;n brindan,
                        junto con precios, ubicaci&#243;n e informaci&#243;n de contacto.
                        <br />
                        No compartiremos ni venderemos su informaci&#243;n con ning&#250;n tercero fuera de nuestro
                        plataforma en l&#237;nea. Tendr&#225; el control total de lo que se anuncia y se muestra a
                        el p&#250;blico en general, usted tambi&#233;n es el &#250;nico y totalmente responsable de la informaci&#243;n,
                        productos, servicios y precios mostrados y anunciados en nuestra plataforma.
                    </p>
                    <h3>Su acceso y control sobre la informaci&#243;n.</h3>
                    <p>      
                    Tiene el control total de lo que podemos mostrar p&#250;blicamente sobre usted, su personal y
                    servicios ofrecidos y puede optar por no participar y cerrar su perfil y cuenta en cualquier momento.
                    </p>
                    <h3>Seguridad.</h3>
                    <p>
                        Siempre usamos tecnolog&#237;as de encriptaci&#243;n est&#225;ndar de la industria al transferir y
                        recibir datos de consumidores intercambiados con nuestro sitio, actualmente TLS 1.2.
                    </p>
                </p>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="answer('AGREE')">
            {{ 'Staff_.Staff.Iagree' | translate }}
        </md-button>
        <md-button ng-click="cancel('DISAGREE')">
            {{ 'Staff_.Staff.notAgree' | translate }}
        </md-button>
    </md-dialog-actions>
</md-dialog>
