<!DOCTYPE html>
<html lang="en" ng-app="listModule">
    <head>
        <title ng-bind="ngMeta.title">Available Service Providers | Book A Consultation</title>
        <meta
            name="description"
            content="Browse through our list of registered dentists. Pick one and schedule a consultation online or in-person"
        />
    </head>

    <body ng-controller="listMainController">
        <section class="fixed-help-bubble center w3-hide-small">
            <div>
                <p>Need Help?</p>
                <a href="/contact_us">Send Us A Message</a>
            </div>
        </section>
        <section
            class="dir-alp dir-pa-sp-top"
            style="background: url('template/images/list_background.webp') no-repeat; "
        >
            <div class="container" style="width: 95%; ">
                <div class="row">
                    <div class="dir-alp-tit" style=" margin-top: 10% !important;">
                        <h1 style="color: #213548 ; font-weight: 600;">{{pageTitle}}</h1>

                        <a
                            ng-if="servicesList.length"
                            href="/index.html"
                            style="color: #6C7881; font-weight: 400;"
                            >showing {{filteredServicesList.length}} results
                        </a>
                    </div>
                    <div>
                        <services-search-dropdown></services-search-dropdown>
                    </div>
                </div>
                <div class="row">
                    <div class="dir-alp-con" style="background: rgba(33, 53, 72, 0.12);">
                        <div ng-hide="isOpenRight">
                            <md-whiteframe
                                class="md-whiteframe-2dp"
                                flex-sm="45"
                                flex-gt-sm="35"
                                flex-gt-md="25"
                                layout
                                layout-align="center center"
                                style="background: white;"
                            >
                                <md-button
                                    ng-click="toggleLeft()"
                                    style="color:black;"
                                    class="md-primary"
                                    hide-gt-md
                                >
                                    <md-icon
                                        md-svg-src="/template/img/find_in_page-24px.svg"
                                    ></md-icon>
                                    {{'Services.Service.showFiltersMenu'|translate}}
                                </md-button>
                            </md-whiteframe>
                        </div>

                        <div
                            ng-if="locationDescription"
                            class="card location-description-container "
                            name="location-description"
                            style="   
                            padding: 15px 15px 15px 15px;
                            margin-bottom: 30px;
                            margin-top: 30px;
                            margin-left: 20px;
                            margin-right: 20px;
                            border-radius: 15px;
                            height: 30%;"
                        >
                            <h2>
                                {{searchObj.location}}<span class="flag-icon flag-icon-mx"></span>
                            </h2>

                            <p
                                style="font-size: 18px !important; line-height: 30px;margin-bottom: 10%;"
                                ng-bind-html="locationDescription"
                            ></p>
                        </div>

                        <div>
                            <md-sidenav
                                class="md-sidenav-left col-md-3"
                                md-component-id="left"
                                md-whiteframe="4"
                                md-disable-backdrop=""
                                md-disable-close-events
                                md-is-locked-open="$mdMedia('gt-md')"
                                style="padding: 0px; padding-bottom: 57px; color:#6C7881;"
                            >
                                <div class="">
                                    <div class="tz-2-com">
                                        <h4>
                                            {{"List.Sidebar.Title"|translate}}<i
                                                style="float:right"
                                                class="fa fa-regular fa-sliders"
                                            ></i>
                                        </h4>
                                    </div>
                                    <div class="dir-alp-l3 dir-alp-l-com">
                                        <div
                                            ng-if="centeredLocationMap"
                                            class="dir-alp-l-com1"
                                            style="text-align: center;"
                                        >
                                            <md-card>
                                                <md-card-content>
                                                    <ng-map
                                                        zoom="8"
                                                        center="{{centeredLocationMap}}"
                                                        style="height: 200px;"
                                                    />
                                                </md-card-content>
                                                <md-card-footer>
                                                    <div
                                                        ng-show="showGridMap==false"
                                                        ng-click="showPacesListMaps(service)"
                                                        style="cursor: pointer;font-size: 20px; color: #2C6199;"
                                                    >
                                                        {{'List.Maps.Title'|translate}}
                                                        <span
                                                            style="margin-left: 10px; color: #2C6199;"
                                                            >>></span
                                                        >
                                                    </div>
                                                    <div
                                                        ng-show="showGridMap==true"
                                                        ng-click="showPacesListMaps(service)"
                                                        style="cursor: pointer;font-size: 20px; color: #2C6199;"
                                                    >
                                                        {{'List.Maps.Close'|translate}}
                                                        <span
                                                            style="margin-left: 10px; color: #2C6199;"
                                                        >
                                                            >>
                                                        </span>
                                                    </div>
                                                </md-card-footer>
                                            </md-card>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="dir-alp-l3 dir-alp-l-com" layout-wrap>
                                        <div class="dir-alp-l-com1 dir-alp-p3">
                                            <md-button
                                                ng-click="close()"
                                                class="md-primary"
                                                hide-gt-md
                                            >
                                                {{ 'Services.Service.closeSidenavLeft' | translate
                                                }}
                                            </md-button>

                                            <div layout="column">
                                                <h3 style="font-size:x-large; padding-left: 15px;">
                                                    {{'Index.Home.SearchCountry'|translate}}
                                                </h3>

                                                <md-select
                                                    placeholder="{{'Index.Home.SearchCountry_'|translate}}"
                                                    ng-model="countrySearch"
                                                    style="margin: 15px 15px 20px 15px;"
                                                    flex
                                                    id="select-countryA"
                                                >
                                                    <md-optgroup
                                                        label="{{'Index.Home.SearchCountry_'|translate}}"
                                                    >
                                                        <md-option
                                                            ng-repeat="item in countryList"
                                                            ng-value="item.value"
                                                            ng-click="searchByCountry(item.value)"
                                                        >
                                                            <h3
                                                                style="font-size: 20px; font-family: Poppins, sans-serif;"
                                                            >
                                                                {{item.label}}
                                                            </h3>
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                            </div>

                                            <div
                                                ng-if="!disable_distance_filtering"
                                                layout="column"
                                                style="margin-top: 20px;"
                                            >
                                                <h3 style="font-size:x-large; padding-left: 15px;">
                                                    {{'Index.Home.SlideYourD'|translate}}
                                                </h3>

                                                <div
                                                    class="dir-alp-l-com1 dir-alp-p3"
                                                    style="text-align: -webkit-center; padding: 15px;"
                                                >
                                                    <md-slider-container>
                                                        0 km
                                                        <md-slider
                                                            md-discrete
                                                            min="0"
                                                            max="200"
                                                            ng-model="scroller.defaultDistance"
                                                            aria-label="distance-from-location-slider"
                                                            ng-change="changeOptionsDistanceScroll()"
                                                            id="sliderDistance"
                                                        >
                                                        </md-slider>
                                                        200 km
                                                    </md-slider-container>
                                                </div>
                                            </div>
                                            <div layout="column" style="margin-top: 20px;">
                                                <h3 style="font-size:x-large; padding-left: 15px;">
                                                    {{'List.Slider.ConsultationPrice'|translate}}
                                                </h3>

                                                <div
                                                    class="dir-alp-l-com1 dir-alp-p3"
                                                    style="text-align: -webkit-center; padding: 15px;"
                                                >
                                                    <md-slider-container>
                                                        $0
                                                        <md-slider
                                                            md-discrete
                                                            min="0"
                                                            max="100"
                                                            ng-model="consultation_price_scroller.defaultPrice"
                                                            aria-label="consultation-price-slider"
                                                            ng-change="changeConsultationPriceSlider()"
                                                            id="sliderConsultationPrice"
                                                        >
                                                        </md-slider>
                                                        $100
                                                    </md-slider-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding-top: 20px;">
                                        <h3 style="font-size:x-large; padding-left: 15px; ">
                                            {{'List.Optimize.ratings'|translate}}
                                        </h3>
                                        <div
                                            class="dir-alp-l-com1 dir-alp-p3 center"
                                            style="margin-top: 20px; height: 76px;"
                                        >
                                            <span
                                                ng-model="star_filter.provider_review_score"
                                                ng-repeat="number in [5,4,3,2,1]"
                                                ng-click="filterByStars(star_filter.provider_review_score,number)"
                                                style=" padding: 15px 15px 15px ;margin: 15px 5px 15px; border-radius: 10px; background: #FFFFFF;
                                                    box-shadow: -2.2px -2.2px 4px rgba(0, 0, 0, 0.25);"
                                                >{{number}}<i
                                                    class="fa fa-star"
                                                    aria-hidden="true"
                                                ></i
                                            ></span>
                                        </div>
                                    </div>
                                </div>
                            </md-sidenav>

                            <div class="col-md-9 col-sm-12 dir-alp-con-right">
                                <div ng-show="showGridMap==false">
                                    <div
                                        ng-repeat="service in servicesList track by $index"
                                        class="home-list-pop list-spac"
                                        style="border-radius: 0px !important; padding-bottom: 0 !important; padding-right: 0 !important;"
                                    >
                                        <div class="col-md-12 home-list-pop-desc inn-list-pop-desc">
                                            <div layout="row">
                                                <div
                                                    flex="20"
                                                    hide-xs=""
                                                    style="margin-right: 10px; margin-bottom: 16px;"
                                                >
                                                    <img
                                                        ng-if="service.attachments_name"
                                                        style="height:100%; width: 100%; max-height: 200px; float:left;border-radius: 10px;"
                                                        ng-src="https://mymedquest.s3.us-east-2.amazonaws.com/providers/provider_{{service.provider_ID}}/{{encodeUrl(service.attachments_name.replace('MedQIMG_',''))}}"
                                                        prefix
                                                        alt="{{service.provider_Name}}_{{$index}}"
                                                        on-error-src="template/images/MedQuestLogo.svg"
                                                    />
                                                    <img
                                                        ng-if="!service.attachments_name"
                                                        style="height:90%; width: 90%;  float:left;margin-right: 10px;border-radius: 10px;"
                                                        src="template/images/MedQuestLogo.svg"
                                                        prefix
                                                        alt="{{service.provider_Name}}_{{$index}}"
                                                    />
                                                </div>

                                                <div flex="80" flex-xs="100">
                                                    <a
                                                        ng-href="/service_details/provider/{{service.provider_ID}}/service/{{service.procedure_ID}}"
                                                    >
                                                        <h3
                                                            ng-if="!show_provider_only"
                                                            style="font-size: xx-large; width: 85%;"
                                                        >
                                                            {{service.procedure_Name}}
                                                        </h3>

                                                        <h4
                                                            style="font-size: x-large; color: black;"
                                                        >
                                                            {{service.provider_Name}}

                                                            <span
                                                                ng-if="service.provider_review_score"
                                                                style="margin: 15px 5px 15px;  background: #FFFFFF;"
                                                                >|
                                                                {{service.provider_review_score}}<i
                                                                    class="fa fa-star"
                                                                    aria-hidden="true"
                                                                ></i
                                                            ></span>
                                                            <span
                                                                style="color: #636363; text-transform: none;"
                                                            >
                                                                |
                                                                <p
                                                                    ng-if="service.provider_Country=='Mexico'"
                                                                    class="flag-icon flag-icon-mx"
                                                                    style="width: 25px; height: 25px; line-height: 2.2em;"
                                                                ></p>
                                                                <p
                                                                    ng-if="service.provider_Country=='United States'"
                                                                    class="flag-icon flag-icon-us"
                                                                    style="width: 25px; height: 25px; line-height: 2.2em;"
                                                                ></p>
                                                                {{service.provider_Country}}
                                                            </span>
                                                        </h4>
                                                        <p
                                                            ng-if="service.provider_daysServicesprovider && service.provider_openTime"
                                                            style="font-size: large; overflow: hidden;"
                                                        >
                                                            <md-icon
                                                                md-svg-src="/template/img/baseline-timer-24px.svg"
                                                                class="name"
                                                            ></md-icon>
                                                            {{parseDaysOpen(service.provider_daysServicesprovider)}}
                                                            ({{parseOpenTime(service.provider_openTime,service.provider_closeTime)}})
                                                        </p>
                                                        <p
                                                            style="font-size: large;"
                                                            class="address-width"
                                                        >
                                                            <md-icon
                                                                md-svg-src="/template/img/ic_location_on_black_24px.svg"
                                                                class="name"
                                                            ></md-icon>
                                                            {{(service.provider_Street||'') + ", "+
                                                            service.provider_City + ", "+
                                                            service.provider_State + ", "+
                                                            service.provider_PostalCode}}.
                                                            {{service.provider_Country}}
                                                        </p>
                                                    </a>

                                                    <div class="list-number">
                                                        <ul>
                                                            <li style="font-size: x-large;">
                                                                <div
                                                                    layout-xs="column"
                                                                    layout="row"
                                                                >
                                                                    <a
                                                                        flex
                                                                        ng-href="#"
                                                                        ng-click="selectService(service); openContactProviderModal()"
                                                                        style="color: #2C6199;font-weight: 500;
                                                            font-size: 20px;"
                                                                    >
                                                                        <md-icon
                                                                            md-svg-src="/template/img/contact_mail-black-48dp.svg"
                                                                            style="width: 25px; height: 25px;"
                                                                        ></md-icon>
                                                                        {{"List.Card.Contact"|translate}}
                                                                    </a>
                                                                    <a
                                                                        flex
                                                                        ng-if="service.facebook_page_url"
                                                                        ng-href="{{service.facebook_page_url}}"
                                                                        style="color: #2C6199;font-weight: 500;font-size: 20px;"
                                                                        target="_blank"
                                                                    >
                                                                        <i
                                                                            class="fa fa-facebook fb1 facebook-logo"
                                                                        ></i>
                                                                        {{"ListDetailProvider.LinkToFacebookPage"|translate}}
                                                                    </a>
                                                                </div>
                                                            </li>

                                                            <li
                                                                ng-if="!disable_distance_filtering"
                                                                style="font-size: large;"
                                                            >
                                                                <img
                                                                    src="/template/img/baseline-transfer_within_a_station-24px.svg"
                                                                    alt=""
                                                                />
                                                                {{service.distance_FromSearch |
                                                                number : 0}}
                                                                {{"List.Card.DistanceText"|translate}}
                                                                {{user_search_location||user_actual_location.city}}
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <!-- All other procedures by provider section  -->
                                                    <div
                                                        ng-if="show_provider_only"
                                                        class="other-procedures-section"
                                                    >
                                                        <md-chips
                                                            ng-model="procedure_price_by_provider_first[service.provider_ID]"
                                                            md-removable="false"
                                                        >
                                                            <md-chip-template
                                                                ng-click="goToService($chip)"
                                                            >
                                                                <strong
                                                                    >{{$chip.procedure_Name}}</strong
                                                                >
                                                                <em style="color: #900 ;"
                                                                    >( ${{$chip.price}} )</em
                                                                >
                                                            </md-chip-template>
                                                        </md-chips>

                                                        <ul
                                                            ng-if="procedure_price_by_provider[service.provider_ID].length > 10"
                                                            data-toggle="collapse"
                                                            data-parent="#accordion"
                                                            data-target="#collapse-more-services-{{service.provider_ID}}"
                                                        >
                                                            <div
                                                                id="collapse-more-services-{{service.provider_ID}}"
                                                                class="card-action collapse "
                                                            >
                                                                <md-chips
                                                                    ng-model="procedure_price_by_provider_extra[service.provider_ID]"
                                                                    md-removable="false"
                                                                    ng-click=""
                                                                >
                                                                    <md-chip-template
                                                                        ng-click="goToService($chip)"
                                                                    >
                                                                        <strong
                                                                            >{{$chip.procedure_Name}}</strong
                                                                        >
                                                                        <em style="color: #900 ;"
                                                                            >( ${{$chip.price}}
                                                                            )</em
                                                                        >
                                                                    </md-chip-template>
                                                                </md-chips>
                                                            </div>

                                                            <li class="center" style="">
                                                                <div>
                                                                    <md-container>
                                                                        <md-tooltip
                                                                            >{{"List.Card.SeeMoreToolTip"|translate}}</md-tooltip
                                                                        >
                                                                        {{"List.Card.SeeMore"|translate}}
                                                                        <md-icon
                                                                            md-svg-src="/template/img/arrow-down-circle.svg"
                                                                        ></md-icon>
                                                                    </md-container>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="schedule-consultation-section">
                                                        <div
                                                            ng-if="!show_provider_only"
                                                            style=" padding-bottom: 10px;"
                                                            class="not-center-mobile"
                                                        >
                                                            <span
                                                                style="color: black !important; display: block"
                                                            >
                                                                <b
                                                                    >${{validateValue(service.service_consultationCost)}}</b
                                                                >
                                                            </span>
                                                            <span
                                                                style="color: #6C7881 !important; font-size: 13px !important; text-transform: none !important;"
                                                            >
                                                                {{'List.Card.CostOfConsultation'|translate}}
                                                            </span>
                                                        </div>

                                                        <div
                                                            ng-if="!show_provider_only"
                                                            style=" padding-bottom: 10px; "
                                                            class="not-center-mobile"
                                                        >
                                                            <span
                                                                style="color: black !important; display: block"
                                                                ng-if="!service.service_MinPrice"
                                                            >
                                                                <b
                                                                    >${{validateValue(service.price)}}</b
                                                                >
                                                            </span>
                                                            <span
                                                                style="color: black !important; display: block"
                                                                ng-if="service.service_MinPrice"
                                                            >
                                                                <b>
                                                                    ${{validateValue(service.service_MinPrice)}}
                                                                    -
                                                                    ${{validateValue(service.service_MaxPrice)}}</b
                                                                >
                                                            </span>
                                                            <span
                                                                style="color: #6C7881 !important; font-size: 13px !important; text-transform: none !important;"
                                                            >
                                                                {{'List.Card.CostOfProcedure'|translate}}
                                                            </span>
                                                        </div>

                                                        <div
                                                            style="background-color: #213548; padding: 15px 0px 15px 20px;    
                                                -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 6% 47%, 0% 0%);"
                                                        >
                                                            <md-tooltip md-direction="Bottom"
                                                                >{{"List.Consultation.Description1"|translate}}.</md-tooltip
                                                            >
                                                            <md-button
                                                                id="schedule-consultation-info"
                                                                ng-click="$event.preventDefault(); $event.stopPropagation(); openConsultationInformationModal()"
                                                                style="float: left; margin: 0px 0px; min-width: 0%; min-height: 24px;"
                                                            >
                                                                <md-icon
                                                                    md-svg-src="/template/img/info_black_24dp.svg"
                                                                    style="float:left;"
                                                                ></md-icon>
                                                            </md-button>

                                                            <a
                                                                ng-href="#"
                                                                id="open-schedule-consultation"
                                                                style="font-weight: 600;font-size: 20px; color: #FFFFFF; display: flex;flex-direction: row;"
                                                                ng-click="selectService(service); openModal()"
                                                            >
                                                                {{"List.Card.Appointment"|translate}}
                                                                <md-icon
                                                                    style="color: white;"
                                                                    md-svg-src="/template/img/baseline-arrow_forward_ios-24px.svg"
                                                                ></md-icon>
                                                                <md-button
                                                                    id="schedule-consultation-info"
                                                                    ng-click="$event.preventDefault(); $event.stopPropagation(); openConsultationInformationModal()"
                                                                    style=" margin: 0px 0px; min-width: 0%; min-height: 24px;"
                                                                >
                                                                </md-button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--LISTINGS END-->
                                </div>

                                <div id="placesListMaps" ng-show="showGridMap==true">
                                    <div class="card">
                                        <div class="card-image">
                                            <ng-map
                                                zoom="{{zoomVar}}"
                                                center="{{centeredLocationMap}}"
                                                zoom-to-include-markers="auto"
                                                pan-control="false"
                                                street-view-control="true"
                                                street-view-control-options="{position: 'RIGHT_BOTTOM'}"
                                                map-type-control="false"
                                                zoom-control="true"
                                                zoom-control-options="{style:'BIG', position: 'RIGHT_BOTTOM'}"
                                                scale-control="true"
                                                default-style="true"
                                                zoom-to-include-markers="true"
                                            >
                                            </ng-map>
                                        </div>
                                        <div class="card-content">
                                            <h4 style="font-size: x-large;">
                                                {{'List.ProceduresList'|translate}}
                                            </h4>

                                            <div
                                                ng-repeat="service in servicesList"
                                                class="home-list-pop"
                                            >
                                                <div
                                                    class="col-md-9 home-list-pop-desc inn-list-pop-desc"
                                                >
                                                    <a
                                                        ng-href="/service_details/provider/{{service.provider_ID}}/service/{{service.procedure_ID}}"
                                                        target="_self"
                                                    >
                                                        <h3>{{service.procedure_Name}}</h3>
                                                    </a>
                                                    <h4>
                                                        {{service.provider_Name}}
                                                        {{'ListDetailProvider.with'|translate}}
                                                        {{service.provider_Country}}
                                                    </h4>
                                                    <p>
                                                        <b>{{'List.Card.Address'|translate}}:</b>
                                                        {{service.provider_Street + " "+
                                                        service.provider_City + " "+
                                                        service.provider_State + ", "+
                                                        service.provider_PostalCode}}
                                                    </p>
                                                    <div class="list-number">
                                                        <ul>
                                                            <li>
                                                                {{'List.Card.Distance'|translate}}
                                                                {{searchText.provider_City}}:
                                                                {{service.distance_FromSearch}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <br />
                                                </div>
                                                <div
                                                    class="col-md-3 home-list-pop-desc inn-list-pop-desc"
                                                >
                                                    <div>
                                                        <span
                                                            class="home-list-pop-rat"
                                                            style="background: #ffffff"
                                                        >
                                                            <a
                                                                class="waves-effect waves-light btn"
                                                                ng-click="showDetaiPlaceInMaps(service)"
                                                                style="background: #15629e"
                                                                ><i class="material-icons right"
                                                                    >touch_app</i
                                                                >{{'List.GoToTheMap'|translate}}</a
                                                            >
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="numResultPerPages != 0">
                                    <div class="pagination list-pagenat">
                                        <ul class="pagination">
                                            <li class="waves-effect">
                                                <a ng-click="selectNextBack('B')"
                                                    ><i class="material-icons">chevron_left</i></a
                                                >
                                            </li>
                                            <li class="active">
                                                <a> {{currentPage+1}}/{{numberOfPages()}} </a>
                                            </li>
                                            <li class="waves-effect">
                                                <a ng-click="selectNextBack('N')"
                                                    ><i class="material-icons">chevron_right</i></a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <!--MOBILE APP-->
        <section class="web-app com-padd">
            <div class="container">
                <div class="row"></div>
            </div>
        </section>

        <section></section>
        <schedule-appointment
            user="user"
            provider="selectedService"
            is-modal-open="isModalOpen"
            services-list="procedure_price_by_provider[selectedService.provider_ID]"
            service="selectedService"
            documents="requiredDocuments"
        ></schedule-appointment>
        <contact-provider
            user="user"
            is-modal-open="isContactProviderModalOpen"
            service="selectedService"
        ></contact-provider>
    </body>

    <style scoped>
        .location-description-container {
            -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
            mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
            overflow-y: auto;
        }
        body {
            background-color: #e4edf6 !important;
        }

        .schedule-consultation-section{
            position: absolute !important;
            float: right!important; bottom: 0 !important; right:0%
        }

        .address-width{
            max-width: 70%;
        }
        .other-procedures-section{
            margin-bottom: 50px;
        }
        @media only screen and (max-width: 640px) {
            .other-procedures-section{
                margin-bottom: 0px;
            }

            .address-width{
                max-width: 100%;
            }

            .not-center-mobile{
                padding-top: 10px !important;
                text-align:left !important;
            }

            .schedule-consultation-section{
                position: relative !important;
            }
        }

        .not-center-mobile{
            text-align: center;
        }

        .facebook-logo {
            background: #3b5998;
            width: 22px;
            height: 22px;
            border: 0px solid #828284;
            padding-top: 2px;
            text-align: center;
            color: #fff;
        }

        #sliderConsultationPrice .md-thumb:after,
        #sliderConsultationPrice .md-track-fill {
            background-color: #6c7881 !important;
            border-color: #6c7881 !important;
        }
        #sliderConsultationPrice .md-focus-thumb,
        #sliderConsultationPrice .md-focus-ring {
            background-color: #6c7881;
        }

        md-slider.md-default-theme .md-sign, md-slider .md-sign {
            background-color: #253d52;
        }

        md-slider.md-default-theme .md-sign:after, md-slider .md-sign:after {
            background-color: transparent!important;
        }

        d-slider.md-default-theme .md-sign:after, md-slider .md-sign:after {
            border-top-color: #253d52 !important;
        }

        md-slider .md-sign {
            width:50px
        }
        #sliderDistance .md-thumb:after,
        #sliderDistance .md-track-fill {
            background-color: #6c7881 !important;
            border-color: #6c7881 !important;
        }
        #sliderDistance .md-focus-thumb,
        #sliderDistance .md-focus-ring {
            background-color: #6c7881;
        }

        .fixed-help-bubble {
            position: fixed;
            top: 50%;
            float: right;
            left: 90%;
            z-index: 9999;
            margin: 10px auto 0;
            border-radius: 100px;
            box-shadow: 1px 1px 9px rgb(0 0 0 / 25%);
            border:0;
            padding: 8px 12px;
            font-weight: 700;
            background-color: #fff;
            color: #15629e"
        }

        .fixed-help-bubble:after {
            content: '';
            width: 0px;
            height: 0px;
            position: absolute;
            border-left: 10px solid transparent;
            border-right: 10px solid #fff;
            border-top: 10px solid #fff;
            border-bottom: 10px solid transparent;
            right: 19px;
            bottom: -15px;
        }

        md-chips.md-default-theme .md-chips, md-chips .md-chips {
            box-shadow: none !important;
        }
    </style>
</html>
