<form layout="row" layout-md="column" style="margin-top: -8px; margin-block-end: -10px;">
    <div
        layout-gt-sm="col"
        layout-gt-lg="row"
        ng-cloak
        flex="100"
        class="md-padding center-content"
        style="padding: 0px 0px 0px 0px;"
    >
        <md-select
            ng-if="$ctrl.showAllFields"
            placeholder="{{'Index.Home.SearchCategory'|translate}}"
            style=" background-color: white; height: 50px ; margin: 20px 15px 13px; border-radius: 10px;"
            ng-model="$ctrl.categorySearch"
            class="category-dropdown"
            id="categoriesDropdown"
        >
            <md-optgroup label="{{'Index.Home.SearchCategory2'|translate}}">
                <md-option ng-repeat="item in $ctrl.categoryList" ng-value="item.value">
                    <h3 style="font-size: 20px; font-family: Poppins, sans-serif;">
                        {{item.label}}
                    </h3>
                </md-option>
            </md-optgroup>
        </md-select>

        <md-select
            ng-if="false"
            placeholder="{{'Index.Home.SearchCountry_'|translate}}"
            style=" "
            ng-model="$ctrl.countrySearch"
            ng-model-options="{trackBy: '$value.country' }"
            class="category-dropdown"
            id="select-country"
        >
            <md-optgroup label="{{'Index.Home.SearchCountry'|translate}}">
                <md-option ng-repeat="item in $ctrl.countryList" ng-value="item">
                    <h3 style="font-size: 20px; font-family: Poppins, sans-serif;">
                        <span
                            ng-if="item.flag=='mexico'"
                            class="flag-icon flag-icon-mx"
                            style="width: 25px; height: 25px;"
                        ></span>
                        <span
                            ng-if="item.flag=='united states'"
                            class="flag-icon flag-icon-us"
                            style="width: 25px; height: 25px;"
                        ></span>
                        <span
                            ng-if="item.flag=='spain'"
                            class="flag-icon flag-icon-es"
                            style="width: 25px; height: 25px;"
                        ></span>
                        <span
                            ng-if="item.flag=='canada'"
                            class="flag-icon flag-icon-ca"
                            style="width: 25px; height: 25px;"
                        ></span>
                        {{item.country}}
                    </h3>
                </md-option>
            </md-optgroup>
        </md-select>

        <md-autocomplete
            id="locationsAutocomplete"
            md-input-name="locationDropdown"
            ng-if="$ctrl.showAllFields"
            class="input-field ng-cloak location-dropdown"
            style="height:50px; box-shadow: none !important; margin: 0px 15px 0px; border-radius: 10px;"
            md-no-cache="true"
            md-selected-item="$ctrl.selectedLocationItem.locations"
            md-search-text="locationSearch"
            md-min-length="0"
            md-items="item in $ctrl.querySearchLocations(locationSearch)"
            md-item-text="item.label"
            placeholder="{{'List.SearchBar.EnterLocation'|translate}}"
            input-aria-labelledby="Available Locations"
        >
            <md-item-template class="item-title">
                <!-- <md-icon
                    md-svg-src="/template/img/location_on-24px.svg"
                    style="width: 25px; height: 52px;"
                ></md-icon> -->
                <span
                    ng-if="item.flag=='mexico'"
                    class="flag-icon flag-icon-mx"
                    style="width: 25px; height: 25px;"
                ></span>
                <span
                    ng-if="item.flag=='united states'"
                    class="flag-icon flag-icon-us"
                    style="width: 25px; height: 25px;"
                ></span>
                <span
                    ng-if="item.flag=='spain'"
                    class="flag-icon flag-icon-es"
                    style="width: 25px; height: 25px;"
                ></span>
                <span
                    ng-if="item.flag=='canada'"
                    class="flag-icon flag-icon-ca"
                    style="width: 25px; height: 25px;"
                ></span>
                <span md-highlight-text="locationSearch" md-highlight-flags="^i"
                    >{{item.label}}</span
                >
            </md-item-template>
            <md-not-found>
                {{'List.SearchBar.NLF'|translate}}
            </md-not-found>
        </md-autocomplete>
        &nbsp;&nbsp;

        <md-autocomplete
            id="proceduresAutocomplete"
            md-input-name="procedureDropdown"
            class="input-field ng-cloak procedure-dropdown "
            style="height:50px; box-shadow: none !important; margin: 0px 15px 0px; border-radius: 10px;"
            md-no-cache="true"
            md-selected-item="$ctrl.selectedProcedureItem.procedures"
            md-search-text="procedureSearch"
            md-items="item in $ctrl.querySearchProcedures(procedureSearch)"
            md-min-length="0"
            md-item-text="item.label"
            placeholder="{{'List.SearchBar.SearchProcedure'|translate}}"
            input-aria-labelledby="Available Services"
        >
            <md-item-template>
                <md-icon
                    md-svg-src="/template/img/iconfinder_Dental_-_Tooth_-_Dentist_-_Dentistry_34_2185052.svg"
                    style="width: 25px; height: 25px;"
                ></md-icon>
                <span md-highlight-text="procedureSearch" md-highlight-flags="^i"
                    >{{item.label}}</span
                >
            </md-item-template>
            <md-not-found>
                No services matching "{{procedureSearch}}" were found.
            </md-not-found>
        </md-autocomplete>

        <md-input-container layout-md="col" style="justify-content: center;display: flex;">
            <div flex style="justify-content: center;display: flex; ">
                <md-button
                    id="services-search-dropdown-submit"
                    type="submit"
                    class=" "
                    style="color:#F5F5F5 !important;height:45px; line-height: 0px; width: 126px !important; border-radius: 10px !important; border:1px solid black; background-color: #213548 !important; "
                    ng-click="$ctrl.processSearch()"
                >
                    {{'List.SearchBar.SearchButton'|translate}}
                </md-button>
            </div>
        </md-input-container>
    </div>
</form>

<style scoped>
    .md-virtual-repeat-container.md-autocomplete-suggestions-container {
        width: 650px !important;
    }

    .md-select-menu-container {
        z-index: 99999 !important;
    }

    .md-select-value.md-select-placeholder {
        z-index: 0 !important;
    }

    #categoriesDropdown md-select-value > span:not(.md-select-icon) {
        color: black;
        font-size: 23px !important;
        font-family: inherit;
        height: 37px !important;
        padding-left: 35px;
        background: url(/template/img/ic_style_black_24px.svg);
        background-repeat: no-repeat;
        background-position: 5px 7px;
    }
    @media (min-width: 959px) {
        .category-dropdown {
            width: 25% !important;
            margin: 0px 6px 0px !important;
            height: 50px !important;
        }
        .location-dropdown {
            width: 40%;
            max-width: 100%;
            margin: 0px 0px 0px !important;
        }
        .procedure-dropdown {
            width: 70%;
            margin: 0px 0px 0px !important;
        }
    }

    md-whiteframe-1dp,
    .md-whiteframe-z1 {
        box-shadow: none !important;
    }

    #proceduresAutocomplete input[name='procedureDropdown'] {
        background: url(/template/img/magnifying_glass-24px.svg);
        background-repeat: no-repeat;
        background-position: 5px 7px;
        padding: 0px 35px;
        margin-top: 6px;
    }
    #locationsAutocomplete input[name='locationDropdown'] {
        background: url(/template/img/round-language-24px.svg);
        background-repeat: no-repeat;
        background-position: 5px 7px;
        padding: 0px 35px;
        margin-top: 6px;
    }
</style>
