<!DOCTYPE html>
<html>

<head>
   <title>MyMedQuest Signup</title>
</head>

<body >
	<section class="tz-register">
		<div class="log-in-pop">
			<form name="regForm" class="s12" role="form">				
				<div class="log-in-pop-right">
					<a class="pop-close" data-dismiss="modal" ng-click="vm.closePopUp()" >
						<img src="template/images/cancel.png" alt="" />
					</a>
					<div layout="row" layout-xs="column">
					  <div flex="75" style="margin-top: -12px;">
					     <h1>{{"Signup.CustomerDetails.Hello"|translate}} </h1><span ng-show="vm.user.profile == 1"><h2>{{ vm.user.firstname }}</h2></span> <span ng-show="vm.user.profile == 0"><h2>{{vm.user.hospitalName}}</h2></span>
					  </div>
					  <div style="text-align: center; border-radius: 25px; border: 2px solid #2e71e2; padding: 10px;">
					  	<div layout="column" layout-xs="row" style="min-width: max-content;">
					  	  <div flex="">
						     <p style="text-align: right;">{{"Index.Home.HowItWorks_SubTitle"|translate}}</p>
						  </div>
						  <div flex="">
						  	 <md-icon md-svg-src="/template/img/ondemand_video-24px.svg" ng-click="vm.showAlert()" class="name" ></md-icon>
						  </div>
						</div>
					  </div>
					</div>
					
					<p style="font-size: x-large;"><h4>{{"Signup.CustomerDetails.CreateAccount"|translate}}</h4></p>
					<p style="font-size: x-large;">{{"Signup.CustomerDetails.TakesLessThanAMinute"|translate}}</p>
	
					<br/>
					<div class="visible-xs visible-sm blinking">
					      <b style="text-align: justify; font-size: x-large;">{{"ChangePasswd.LabelNote"|translate}}: {{"ChangePasswd.LabelDisplayMsgWarningSingUp"|translate}} </b>
					 </div>
					 <br/>

					<label>{{"Signup.CustomerDetails.AccountType"|translate}}:</label>
					<div ng-if="regForm.profile.$error.required">
						<div style="font-size: large; color:red" >{{"Signup.InputErrors.SelectprofileType"|translate}}</div>
					</div>
                	<md-input-container class="md-icon-float md-block">
	                    <md-radio-group md-autofocus name ="profile" ng-model="vm.user.profile" required>
					      <md-radio-button value="1" class="md-primary" style="font-size: x-large; font-weight: bold;">{{"Signup.CustomerDetails.Patient"|translate}}</md-radio-button>
					      <md-radio-button value="0" style="font-size: x-large; font-weight: bold;"> {{"Signup.CustomerDetails.Hospital" | translate}} </md-radio-button>
					    </md-radio-group>

						
					
               		 </md-input-container>

						<md-divider></md-divider>
               		 
					<md-input-container class="md-icon-float" ng-if = "vm.user.profile == 0">
	                    <label >{{"Signup.CustomerDetails.HospitalName"|translate}}: </label> 
	                    <md-icon md-svg-src="/template/img/ic_person_black_24px.svg" class="name"></md-icon>
	                    <input required type="text" name="hospitalName" ng-model="vm.user.hospitalName" ng-trim="true" minlength="1" maxlength="30" />
	                    <div ng-messages="regForm.hospitalName.$error">
	                      <div ng-message-exp="['required', 'minlength', 'maxlength']">
	                        {{"Signup.InputErrors.CharacterRange1-30"|translate}}
	                       </div>
	                     </div>
	                      <div ng-if="regForm.hospitalName.$valid" ng-init="vm.firstname = 16.6"> </div>  
						 <div ng-if="!regForm.hospitalName.$valid" ng-init="vm.firstname = 0"> </div>              
	                </md-input-container>
				
					<md-input-container class="md-icon-float" ng-if = "vm.user.profile == 1">
						<md-icon md-svg-src="/template/img/ic_person_black_24px.svg" class="name"></md-icon>
		                    <label style="float: right; font-size: 20px;">{{"Signup.CustomerDetails.FirstName"|translate}}: </label> 
		                    <input required type="text" name="firstname" ng-model="vm.user.firstname" ng-trim="true" minlength="1" maxlength="30" />
		                    <div ng-messages="regForm.firstname.$error">
		                      <div ng-message-exp="['required', 'minlength', 'maxlength']">
								{{"Signup.InputErrors.CharacterRange1-30"|translate}}
		                        </div>
		                     </div> 
		                     <div ng-if="regForm.firstname.$valid" ng-init="vm.firstname = 8.3"> </div>  
		                     <div ng-if="!regForm.firstname.$valid" ng-init="vm.firstname = 0"> </div>              
	                </md-input-container>
                
	                <md-input-container class="md-icon-float" ng-if = "vm.user.profile == 1">
		                <md-icon md-svg-src="/template/img/ic_person_black_24px.svg" class="name"></md-icon>
		                    <label style="float: right; font-size: 20px;">{{"Signup.CustomerDetails.LastName"|translate}}: </label>
		                    <input required type="text" name="lastname" ng-model="vm.user.lastname" ng-trim="true" minlength="1" maxlength="30"/>
		                    <div ng-messages="regForm.lastname.$error">
		                      <div ng-message-exp="['required', 'minlength', 'maxlength']">
		                        {{"Signup.InputErrors.CharacterRange1-30"|translate}}
		                        </div>
		                     </div>
		                     <div ng-if="regForm.lastname.$valid" ng-init="vm.lastname = 8.3"> </div>
		                     <div ng-if="!regForm.lastname.$valid" ng-init="vm.lastname = 0"> </div> 
	                </md-input-container>
		
	                <md-input-container class="md-icon-float md-block">
	                	<md-icon md-svg-src="/template/img/ic_person_pin_black_24px.svg" class="name"></md-icon>
	                    <label style="float: right; font-size: 20px;">{{"Signup.CustomerDetails.Username"|translate}}: </label> 
	                    <input required md-maxlength="25" type="text" ng-init="regForm.username.$valid = true" name="username" [errorStateMatcher]="matcher" ng-model="vm.user.username" validate-alpha-numeric/>
	                    <div ng-messages="regForm.username.$error">
						  <div ng-message="alphanumeric">{{"Signup.InputErrors.AlphanumericalOnly"|translate}}</div>
						  <div ng-message="required">{{"Signup.InputErrors.Required"|translate}}</div>
	                      <div ng-message="md-maxlength">{{"Signup.InputErrors.CharacterRange1-15"|translate}}</div>
	                    </div>
	                    <div ng-if="regForm.username.$valid" ng-init="vm.username = 8.3"> </div>
						<div ng-if="!regForm.username.$valid" ng-init="vm.username = 0"> </div> 
	                </md-input-container>
 
	                <md-input-container class="md-block">
	                    <label style="float: right; font-size: 20px;">{{"Signup.CustomerDetails.Email"|translate}}</label>
	                    <md-icon md-svg-src="/template/img/ic_email_black_24px.svg" class="name"></md-icon>
	                    <input required type="email" name="email" ng-model="vm.user.email" style="font-size: 25px !important; font-family: inherit;"
	                           minlength="8" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
	                    <div ng-messages="regForm.email.$error" role="alert">
	                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
								{{"Signup.InputErrors.Email"|translate}}
								
	                        </div>
	                    </div>
	                    <div ng-if="regForm.email.$valid" ng-init="vm.email = 8.3"> </div>
	                    <div ng-if="!regForm.email.$valid" ng-init="vm.email = 0"> </div> 
	                </md-input-container>

	                <md-input-container class="md-icon-float md-block">
	                    <label style="float: right; font-size: 20px;">{{"Signup.CustomerDetails.Password"|translate}}: </label>
	                    <md-icon md-svg-src="/template/img/ic_recent_actors_black_24px.svg" class="name"></md-icon>
	                    <input required minlength="8" my-password type="password" name="password" ng-model="vm.user.password" style="font-size: 25px !important; font-family: inherit;">
	                    <div ng-messages="regForm.password.$error">
	                      <div ng-message="required">{{"Signup.InputErrors.Required"|translate}}</div>
	                      <div ng-message="minlength">{{"Signup.InputErrors.CharacterRange8Min"|translate}}</div>
	                      <div ng-message="pass">{{"Signup.InputErrors.OneLetterOneDigit"|translate}}</div>
	                    </div>
	                    <div ng-if="regForm.password.$valid" ng-init="vm.password = 8.3"> </div> 
	                    <div ng-if="!regForm.password.$valid" ng-init="vm.password = 0"> </div> 
	                </md-input-container>

	                <md-input-container class="md-icon-float md-block">
	                    <md-icon md-svg-src="/template/img/ic_recent_actors_black_24px.svg" class="name"></md-icon>
	                    <label style="float: right; font-size: 20px;">{{"Signup.CustomerDetails.VerifyPassword"|translate}}: </label>
	                    <input required type="password" type='text' name="verifyPassword" ng-model="vm.user.verifyPassword"
	                            compare-to="vm.user.password" style="font-size: 25px !important; font-family: inherit;" />
	                    <div ng-messages="regForm.verifyPassword.$error">
	                      <div ng-message="required">{{"Signup.InputErrors.Required"|translate}}</div>
	                      <div ng-message="compareTo">{{"Signup.InputErrors.MustMatch"|translate}}</div>
	                    </div>
	                    <div ng-if="regForm.verifyPassword.$valid" ng-init="vm.verifyPassword = 8.3"> </div> 
	                    <div ng-if="!regForm.verifyPassword.$valid" ng-init="vm.verifyPassword = 0"> </div>
	                </md-input-container>
					<md-input-container class="md-icon-float md-block"  flex-gt-sm>
						<label>{{"Signup.CustomerDetails.Phone"|translate}}:</label>
	                    <md-icon md-svg-src="/template/img/ic_phone_black_24px.svg" class="name"></md-icon>
						<input required ng-model="vm.user.phone" name="phone" type="text" style="padding: 40px 0px 15px 70px;">
						<div ng-messages="regForm.phone.$error">
							<div ng-message="required">{{"Signup.InputErrors.Phone"|translate}}</div>
						  </div>
						  <div ng-if="regForm.phone.$valid" ng-init="vm.phone = 8.3"> </div> 
						  <div ng-if="!regForm.phone.$valid" ng-init="vm.phone = 0"> </div>
					  </md-input-container>
	        
	                <md-input-container ng-if = "vm.user.profile == 0" class="md-icon-float md-block">
						<md-tooltip md-direction="Top" style="font-size: 15px;"
						>{{"MyMedQ_MSG.Provider.PleaseEnterDescriptionTooltip"|translate}}</md-tooltip
					>
	                    <label style="float: right; font-size: 18px;">{{"Signup.CustomerDetails.Description"|translate}}: </label>
	                    <input  type="text" name="description" ng-model="vm.user.description" md-maxlength="100" ng-trim="true">
	                    <div ng-messages="regForm.description.$error">
	                      <div ng-message="md-maxlength">{{"Signup.InputErrors.CharacterRange100Limit"|translate}}</div>
	                    </div>
	                </md-input-container>
				</div>
		
				<div ng-show="vm.user.profile == 0" class="log-in-pop-left">		
					<p>
						<label style="font-size: x-large;">{{"Signup.CustomerDetails.AddressInfo"|translate}}</label>
					</p>
					<br>
					<md-input-container class="md-icon-float md-block">
	                    <label style="float: right; font-size: 20px;">{{"Signup.CustomerDetails.Street"|translate}}: </label>
	                    <md-icon md-svg-src="/template/img/ic_location_on_black_24px.svg" class="name"></md-icon>
	                    <input  type="text" name="street" ng-model="user.street" md-maxlength="250" ng-required="user.profile == 0">
	                    <div ng-messages="regForm.street.$error">
	                      <div ng-message="md-maxlength">{{"Signup.InputErrors.CharacterRange250Limit"|translate}}</div>
	                      <div ng-message="required">{{"Signup.InputErrors.Required"|translate}}</div>
	                    </div>
	                     <div ng-if="regForm.street.$valid" ng-init="vm.street = 8.3"> </div> 
	                    <div ng-if="!regForm.street.$valid" ng-init="vm.street = 0"> </div>
	                </md-input-container>
                
	                <md-input-container class="md-icon-float md-block">
	                    <label style="float: right; font-size: 20px;">{{"Signup.CustomerDetails.City"|translate}}: </label>
	                    <md-icon md-svg-src="/template/img/ic_navigation_black_24px.svg" class="name"></md-icon>
	                    <input list="cities-list" type="text" name="city" ng-model="vm.user.city" md-maxlength="30" ng-required="vm.user.profile == 0">
	                    <div ng-messages="regForm.city.$error">
	                      <div ng-message="md-maxlength">{{"Signup.InputErrors.CharacterRange1-30"|translate}}</div>
	                      <div ng-message="required">{{"Signup.InputErrors.Required"|translate}}</div>
	                    </div>
	                     <div ng-if="regForm.city.$valid" ng-init="vm.city = 8.3"> </div> 
	                    <div ng-if="!regForm.city.$valid" ng-init="vm.city = 0"> </div>

						<datalist id="cities-list">
							<option ng-repeat="item in locationsList" value="{{ item }}"></option>
						</datalist>
	                </md-input-container>

					<md-input-container ng-if="false"  class="md-icon-float md-block" >
							<md-autocomplete
							id="autocomplete-city"
							md-input-name="city"
							class="name"
							md-no-cache="true"
							md-selected-item="vm.user.city"
							md-search-text="locationSearch"
							md-input-maxlength="30" 
							md-items="item in querySearchLocations(locationSearch)"
							md-item-text="item"
							placeholder="{{'Signup.CustomerDetails.City'|translate}}"
							input-aria-labelledby="Available Locations"
							required
					>
					
							<md-item-template>
								<span md-highlight-text="locationSearch" md-highlight-flags="^i"
									>{{item}}</span
								>
							</md-item-template>
						</md-autocomplete>
					
						<div ng-messages="regForm.city.$error">
							<div ng-message="maxlength">{{"Signup.InputErrors.CharacterRange1-30"|translate}}</div>
							<div ng-message="required">{{"Signup.InputErrors.Required"|translate}}</div>
						  </div>
						   <div ng-if="regForm.city.$valid" ng-init="vm.city = 8.3"> </div> 
						  <div ng-if="!regForm.city.$valid" ng-init="vm.city = 0"> </div>
					</md-input-container>
					<br/>	
	                <md-input-container class="md-icon-float md-block">
	                    <label style="float: right; font-size: 20px;">{{"Signup.CustomerDetails.Zipcode"|translate}}: </label>
	                    <md-icon md-svg-src="/template/img/ic_keyboard_black_24px.svg" class="name"></md-icon>
	                    <input  type="number" name="postalcode" ng-model="vm.user.postalcode"  md-maxlength="30" ng-required="vm.user.profile == 0">
	                    <div ng-messages="regForm.postalcode.$error">
	                      <div ng-message="md-maxlength">{{"Signup.InputErrors.CharacterRange1-30"|translate}}</div>
	                      <div ng-message="required">{{"Signup.InputErrors.Required"|translate}}</div>
	                    </div>
	                     <div ng-if="regForm.postalcode.$valid" ng-init="vm.postalCode = 8.3"> </div> 
	                    <div ng-if="!regForm.postalcode.$valid" ng-init="vm.postalCode = 0"> </div>
					</md-input-container>
						<br/>
					<md-input-container class="md-icon-float md-block">		
						<label style="font-size: 20px;">{{"Signup.CustomerDetails.Country"|translate}}: </label>
						<md-icon md-svg-src="/template/img/baseline-map-24px.svg" class="name"></md-icon>
	                 	<!-- <input type="text" id="country" name = "country" ng-model="vm.user.country" ng-required="vm.user.profile == 0" style="color: black;"/> -->
						 <md-select id="country" name="country" ng-model="vm.user.country" ng-required="vm.user.profile == 0" >
							<md-option ng-value="country"  ng-repeat="country in vm.supportedCountryNames"  >
								<p style="font-size: x-large;">	
									<span class="flag-icon flag-icon-us" ng-if="country.countryCode=='us'" style="width: 25px; height: 25px;"></span>
									<span class="flag-icon flag-icon-mx"  ng-if="country.countryCode=='mx'"  style="width: 25px; height: 25px;"></span>
									<span class="flag-icon flag-icon-es"  ng-if="country.countryCode=='es'"  style="width: 25px; height: 25px;"></span>
									<span class="flag-icon flag-icon-ca"  ng-if="country.countryCode=='ca'"  style="width: 25px; height: 25px;"></span>
									{{ country.name }}</p>
							</md-option>
						</md-select>	
						<div ng-messages="regForm.country.$error">
	                      	<div style="font-size: large; color:red" ng-message="required">
								{{"Signup.InputErrors.Required"|translate}}
							</div>
	                    </div>
	                     <div ng-if="regForm.country.$valid" ng-init="vm.country = 8.3"> </div> 
	                    <div ng-if="!regForm.country.$valid" ng-init="vm.country = 0"> </div>	
					</md-input-container>
					<hr/>
					<br/>
					<md-input-container class="md-icon-float md-block" ng-show="vm.user.country!=null">
						<label id="la211" style="float: right; font-size: 20px;">{{"Signup.CustomerDetails.State"|translate}} </label>
							<md-icon md-svg-src="/template/img/baseline-map-24px.svg" class="name"></md-icon>
							<md-select ng-model="vm.user.state" ng-change="GetSelectedState()" name="state" ng-required="vm.user.profile == 0">
		    				   <md-option ng-value="state" ng-repeat="state in vm.countries[vm.user.country.countryCode] || vm.countries['us']" >
		    				       <p style="font-size: x-large;">{{ state }}</p>
		    				   </md-option>
		  					</md-select>
		  					<div ng-messages="regForm.state.$error">
					            <div ng-message="required">
									{{"Signup.InputErrors.Required"|translate}}
								</div>
					        </div>
					        <div ng-if="regForm.state.$valid" ng-init="vm.state = 8.3"> </div> 
					        <div ng-if="!regForm.state.$valid" ng-init="vm.state = 0"> </div>
					</md-input-container>
					<br/>
					<br/>
	
				</div>

				<md-progress-linear md-mode="determinate" value="{{vm.password + vm.username + vm.firstname + vm.lastname + vm.verifyPassword + vm.phone + vm.email + vm.street + vm.city + vm.postalCode + vm.country + vm.state}}"></md-progress-linear>                	
				
				<section >
					<div 
						vc-recaptcha flex
						 key="'6LcD05MUAAAAAOgeYQuwgSG7YrhYxed25K204d11'"
						 type="image" 
						 theme="light" 
						 lang="languageSelected" 
						 ng-model="vm.captchaResponse" 
						 size="normal"
						 on-expire="vm.cbExpiration()" >
					</div>
					<div ng-show="regForm.$invalid">
						<div style="color: red; font-size: large;">{{"Signup.CustomerDetails.missingFields"|translate}}</div>
					  </div>
					</section>
					<md-divider></md-divider>
				

	            <md-button type="submit" ng-disabled="regForm.$invalid || processButtonClicked" class="md-raised md-primary" ng-click="vm.processSignupForm(regForm.$invalid)" style="width: 30%; font-size: 20px;" >
					{{"Signup.CustomerDetails.SignUp"|translate}}
					<md-icon md-svg-src="/template/img/ic_done_black_36px.svg"></md-icon>	
					<md-tooltip md-direction="top" style="font-size: 20px;">{{"Signup.CustomerDetails.clickToSin"|translate}}</md-tooltip>
				</md-button>
				
			</form>
					
		</div>
			
	</section>
	<br/>
	<section class="com-padd home-dis">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>{{"Index.Home.Discount100P"|translate}}</span> Register For Free <a href="/register">Signup</a></h2> </div>
			</div>
		</div>
	</section>
	<br/>
	
	<section>
		<div class="modal fade dir-pop-com" id="list-quo" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header dir-pop-head">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title">Schedule Appointment</h4>
						<!--<i class="fa fa-pencil dir-pop-head-icon" aria-hidden="true"></i>-->
					</div>
					<div class="modal-body dir-pop-body">
						<form method="post" class="form-horizontal">
							<!--LISTING INFORMATION-->
							<div class="form-group has-feedback ak-field">
								<label class="col-md-4 control-label">Full Name *</label>
								<div class="col-md-8">
									<input type="text" class="form-control" name="fname" placeholder="" required> </div>
							</div>
							<!--LISTING INFORMATION-->
							<div class="form-group has-feedback ak-field">
								<label class="col-md-4 control-label">Mobile</label>
								<div class="col-md-8">
									<input type="text" class="form-control" name="mobile" placeholder=""> </div>
							</div>
							<!--LISTING INFORMATION-->
							<div class="form-group has-feedback ak-field">
								<label class="col-md-4 control-label">Email</label>
								<div class="col-md-8">
									<input type="text" class="form-control" name="email" placeholder=""> </div>
							</div>
							<!--LISTING INFORMATION-->
							<div class="form-group has-feedback ak-field">
								<label class="col-md-4 control-label">Message</label>
								<div class="col-md-8 get-quo">
									<textarea class="form-control"></textarea>
								</div>
							</div>
							<!--LISTING INFORMATION-->
							<div class="form-group has-feedback ak-field">
								<div class="col-md-6 col-md-offset-4">
									<input type="submit" value="SUBMIT" class="pop-btn"> </div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</section>
	
</body>

</html>

<style>
	#autocomplete-city input[name="city"]  {
    background: url(/template/img/ic_navigation_black_24px.svg);
    background-repeat: no-repeat;
    background-position: 5px 7px;
    padding: 0px 35px;
}

</style>