<!DOCTYPE html>

<html>
    <head>
        <title>MyMedQuest - Dashboard</title>
    </head>

    <body ng-cloak>
        <md-divider md-inset><br /><br /></md-divider>
        <div class="sb2-2" style="padding: 5px 15px 10px 10px;">
            <div class="sb2-2-2">
                <ul>
                    <li>
                        <a href="index.html"
                            ><i class="fa fa-home" aria-hidden="true"></i>
                            <span translate="Index.Home"></span
                        ></a>
                    </li>
                    <li class="page-back">
                        <a href="javascript:history.back();"
                            ><i class="fa fa-backward" aria-hidden="true"></i>
                            {{ 'Index.Back' | translate }}</a
                        >
                    </li>
                </ul>
            </div>
            <div class="tz-2 tz-2-admin" style="padding-bottom: 5%;">
                <div class="tz-2-com tz-2-main">
                    <h4 ng-if="video.show" align="center">{{ 'Dashboard.Video' | translate }}</h4>
                    <twilio-video
                        appointment="selectedAppointment"
                        video-show="video"
                        id="twilio-video"
                        ng-if="video.show"
                    ></twilio-video>

                    <div
                        ng-if="false"
                        class="tz-2 tz-2-admin"
                        ng-show="user.profileType == 'Admin'"
                    >
                        <div class="tz-2-com tz-2-main">
                            <div class="tz-2-main-com bot-sp-20">
                                <div class="tz-2-main-1 tz-2-main-admin col-md-6">
                                    <div class="tz-2-main-2">
                                        <canvas
                                            class="chart chart-pie"
                                            chart-click="loadProceduresDataModal"
                                            chart-colors="colorsGrapicPYB"
                                            chart-data="proceduresChartData"
                                            chart-labels="proceduresChartLabels"
                                        >
                                        </canvas>
                                        <div>&nbsp;</div>
                                        <span> {{ 'Dashboard.Title.1' | translate }} </span>
                                        <div flex-xs layout="column">
                                            <p>
                                                {{ 'Dashboard.Seccion.Text.1' | translate }}
                                            </p>
                                            <md-card-actions layout="row" layout-align="end center">
                                                <md-button
                                                    class="md-fab md-primary"
                                                    aria-label="Favorite"
                                                    ng-href="/listProcedures.html"
                                                >
                                                    <md-icon
                                                        md-svg-icon="/template/img/ic_forward_white_24px.svg"
                                                    ></md-icon>
                                                    <md-tooltip md-direction="Bottom">{{
                                                        'Dashboard.GoToMPList.1' | translate
                                                    }}</md-tooltip>
                                                </md-button>
                                                <md-button
                                                    class="md-fab md-primary"
                                                    aria-label="Settings"
                                                    ng-href="/procedures.html"
                                                >
                                                    <md-icon
                                                        md-svg-icon="/template/img/ic_add_box_white_24px.svg"
                                                    ></md-icon>
                                                    <md-tooltip md-direction="Bottom">{{
                                                        'Dashboard.AddNewP.1' | translate
                                                    }}</md-tooltip>
                                                </md-button>
                                            </md-card-actions>
                                        </div>
                                    </div>
                                </div>

                                <div class="tz-2-main-1 tz-2-main-admin col-md-6">
                                    <div class="tz-2-main-2">
                                        <canvas
                                            class="chart chart-bar"
                                            chart-data="servicesChartData"
                                            chart-colors="colorsGrapicPYS"
                                            chart-labels="servicesChartLabel"
                                            chart-series="series"
                                        >
                                        </canvas>
                                        <div>&nbsp;</div>
                                        <span>{{ 'Dashboard.Title.2' | translate }}</span>
                                        <div flex-xs layout="column">
                                            <p>
                                                {{ 'Dashboard.Seccion.Text.2' | translate }}
                                            </p>
                                            <md-card-actions layout="row" layout-align="end center">
                                                <md-button
                                                    class="md-fab md-primary"
                                                    aria-label="Favorite"
                                                    ng-href="/services.html?showMyServices=1"
                                                >
                                                    <md-icon
                                                        md-svg-icon="/template/img/ic_forward_white_24px.svg"
                                                    ></md-icon>
                                                    <md-tooltip md-direction="Bottom">{{
                                                        'Dashboard.GoToMPList.1' | translate
                                                    }}</md-tooltip>
                                                </md-button>
                                                <md-button
                                                    class="md-fab md-primary"
                                                    aria-label="Settings"
                                                    ng-href="/services.html"
                                                >
                                                    <md-icon
                                                        md-svg-icon="/template/img/ic_add_box_white_24px.svg"
                                                    ></md-icon>
                                                    <md-tooltip md-direction="Bottom">{{
                                                        'Dashboard.AddNewP.1' | translate
                                                    }}</md-tooltip>
                                                </md-button>
                                            </md-card-actions>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <md-divider></md-divider>
                    <!-- ng-show="cardType == 1" -->
                    <div ng-show='user.profileType!="Admin"'>
                        <div class="tz-2 tz-2-admin">
                            <div class="tz-2-com tz-2-main">
                                <h4 align="center">
                                    {{ 'Dashboard.Table.Appointments' | translate }}
                                </h4>
                                <div class="box-inn-sp ad-inn-page">
                                    <md-card-content>
                                        <div class="tab-inn ad-tab-inn">
                                            <div
                                                ng-show="pendingAppoinmentList.length ==0"
                                                align="center"
                                                style="margin-bottom: 25px"
                                            >
                                                <img
                                                    src="../template/images/noUpcomingAppointments.svg"
                                                    alt=""
                                                    style="display: block; width: 20%;"
                                                />
                                                <h3
                                                    style="font-size: large; color:#213548; font-weight:400; margin-bottom: 25px;
                                                "
                                                >
                                                    {{
                                                        'Dashboard.Table.NoAppointments' | translate
                                                    }}
                                                </h3>

                                                <a
                                                    ng-if="user.profileType=='User'"
                                                    href="/list_procedures/procedure/0/location/all/category/0/country/all"
                                                    style="
                                                
                                                padding: 5px 10px;
                                                font-style:normal;
                                                font-weight: 700;
                                                font-size: 12px;
                                                line-height: 25px;
                                                background: #213548;
                                                border-radius: 300px;
                                                color: #F5F5F5;"
                                                >
                                                    {{
                                                        'Dashboard.Table.FindDentists' | translate
                                                    }}</a
                                                >
                                            </div>
                                            <div class="container-grid">
                                                <appointment-card
                                                    ng-repeat="appointment in pendingAppoinmentList"
                                                    appointment="appointment"
                                                    user="user"
                                                    video="video"
                                                    selected-appointment="selectedAppointment"
                                                    highlighted-card="highlightedCard"
                                                ></appointment-card>
                                            </div>
                                        </div>
                                    </md-card-content>
                                </div>
                            </div>
                        </div>
                        <div class="tz-2 tz-2-admin">
                            <div class="tz-2-com tz-2-main">
                                <h4 align="center">
                                    {{ 'Dashboard.Table.PastAppointments' | translate }}
                                </h4>
                                <div class="box-inn-sp ad-inn-page">
                                    <md-card-content>
                                        <div class="tab-inn ad-tab-inn">
                                            <div ng-show="pastAppoinmentList.length ==0">
                                                <h1 align="center">
                                                    {{
                                                        'Dashboard.Table.NoPastAppointments'
                                                            | translate
                                                    }}
                                                </h1>
                                            </div>
                                            <div class="container-grid">
                                                <appointment-card
                                                    ng-repeat="appointment in pastAppoinmentList"
                                                    appointment="appointment"
                                                    user="user"
                                                    video="video"
                                                    selected-appointment="selectedAppointment"
                                                    highlighted-card="highlightedCard"
                                                ></appointment-card>
                                            </div>
                                        </div>
                                    </md-card-content>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tz-2 tz-2-admin">
                        <div class="tz-2-com tz-2-main">
                            <calendar-test
                                ng-show='user.profileType!="Admin"'
                                appointments="pendingAppoinmentList"
                                highlighted-card="highlightedCard"
                            ></calendar-test>
                        </div>
                    </div>

                    <section>
                        <admin-dashboard
                            ng-if="user.profileType == 'Admin'"
                            user="user"
                            users="allUsers"
                            providers="allProviders"
                        ></admin-dashboard>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
<style>
    .container-grid {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill);
        grid-row-gap: 0.5em;
        grid-column-gap: 1em;
    }

    @media (max-width: 400px) {
        .container-grid {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(auto-fill);
            grid-row-gap: 0.5em;
            grid-column-gap: 1em;
        }
    }
</style>
